[Desktop Entry]
Name=QtQR
GenericName=QR code generator and decoder
GenericName[de]=QR-Codes erzeugen und einlesen
Comment=QtQR is a Qt based software that let's you generate QR Codes easily, scan an image file for QR Codes and decode them or use your webcam to scan a printed one.
Comment[zh_CN]=QtQR 是一款基于 Qt 的软件，它能帮助您简单地生成 QR 二维码、从图像扫描二维码进行解析或是使用摄像头扫描实际的二维码。
Exec=qtqr %F
Icon=qtqr
Terminal=false
Type=Application
Categories=Graphics
MimeType=image/gif;image/png;image/jpg;
Keywords=qr;
Keywords[zh_CN]=二维码;
