Source: lernstick-brasero
Section: gnome
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-brasero
Architecture: all
Depends: brasero
Description: Hides brasero when running KDE
 We hide brasero when running KDE as we already have k3b there.
