Source: lernstick-xfce4-appfinder
Section: xfce
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-xfce4-appfinder
Architecture: all
Depends: xfce4-appfinder
Description: Shows xfce4-appfinder only when running XFCE
 We show xfce4-appfinder only when running an XFCE session.
