Source: lernstick-xdrawchem
Section: science
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-xdrawchem
Architecture: all
Depends: xdrawchem
Description: Improves the xdrawchem desktop file
 We add an improved version of the xdrawchem desktop file.
