[Desktop Entry]
Version=1.0
Type=Application
Name=GnuGo
Exec=/usr/games/gnugo
Terminal=true
Comment=Play Go against computer opponent
Categories=Game;BoardGame;
Icon=gnugo48
NoDisplay=true
