Source: lernstick-transmission-gtk
Section: net
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-transmission-gtk
Architecture: all
Depends: transmission-gtk
Description: We hide transmission-gtk when running KDE
 We hide transmission-gtk when running KDE. We have ktorrent there.
