[Desktop Entry]
Name[ar]=الخطوط
Name[be]=Шрыфты
Name[bg]=Шрифтове
Name[ca]=Tipus de lletra
Name[ca@valencia]=Tipus de lletra
Name[ckb]=جۆرەپیت
Name[cs]=Fonty
Name[da]=Skrifttyper
Name[de]=Schriften
Name[el]=Γραμματοσειρές
Name[en_GB]=Fonts
Name[eo]=Tiparoj
Name[es]=Tipografías
Name[eu]=Letra-tipoak
Name[fa]=قلم‌ها
Name[fi]=Fontit
Name[fr]=Polices
Name[fur]=Caratars
Name[gd]=Cruthan-clò
Name[gl]=Tipos de letra
Name[he]=גופנים
Name[hr]=Slova
Name[hu]=Betűkészletek
Name[id]=Fonta
Name[is]=Letur
Name[it]=Tipi di carattere
Name[ja]=フォント
Name[ka]=ფონტები
Name[kk]=Қаріптер
Name[ko]=글꼴
Name[lt]=Šriftai
Name[lv]=Fonti
Name[ml]=അക്ഷരസഞ്ചയങ്ങൾ
Name[ms]=Fon
Name[nb]=Skrifter
Name[ne]=फन्टहरू
Name[nl]=Lettertypen
Name[oc]=Polissas
Name[pa]=ਫ਼ੋਂਟ
Name[pl]=Czcionki
Name[pt]=Fontes
Name[pt_BR]=Fontes
Name[ro]=Fonturi
Name[ru]=Шрифты
Name[sk]=Písma
Name[sl]=Pisave
Name[sr]=Фонтови
Name[sr@latin]=Fontovi
Name[sv]=Typsnitt
Name[tr]=Yazı Tipleri
Name[uk]=Шрифти
Name[vi]=Xem phông chữ
Name[zh_CN]=字体
Name[zh_TW]=字型
Name=Fonts
Comment[af]=Bekyk fonte op die stelsel
Comment[an]=Veyer as fuents d'o suyo sistema
Comment[ar]=اعرض الخطوط على نظامك
Comment[as]=আপোনাৰ চিস্টেমৰ ফন্টসমূহ দৰ্শন কৰক
Comment[be]=Прагляд шрыфтоў у вашай сістэме
Comment[bg]=Преглед на шрифтовете
Comment[bn_IN]=সিস্টেমের মধ্যে উপস্থিত ফন্ট দেখুন
Comment[br]=Gwelout an nodrezhoù ho reizhiad
Comment[bs]=Pogledaj fontove na sistemu
Comment[ca]=Visualitzeu tots els tipus de lletra del sistema
Comment[ca@valencia]=Visualitza tots els tipus de lletra del sistema
Comment[ckb]=جۆرەپیتەکانی ناو سیستمەکەت پیشان بدە
Comment[cs]=Zobrazte si fonty ve svém systému
Comment[da]=Vis skrifttyper på dit system
Comment[de]=Schriftarten Ihres Systems betrachten
Comment[el]=Δείτε τις γραμματοσειρές του συστήματος σας
Comment[en_GB]=View fonts on your system
Comment[eo]=Rigardi tiparojn en via sistemo
Comment[es]=Ver las tipografías de su sistema
Comment[et]=Kuva selles arvutis olevaid kirjatüüpe
Comment[eu]=Ikusi sistemako letra-tipoak
Comment[fa]=دیدن قلم‌های روی سامانه‌تان
Comment[fi]=Katsele koneellasi olevia fontteja
Comment[fr]=Affiche les polices de votre système
Comment[fur]=Viôt i caratars sul to sisteme
Comment[ga]=Amharc ar chlónna do chórais
Comment[gd]=Seall na cruthan-clò air an t-siostam agad
Comment[gl]=Ver os tipos de letra do seu sistema
Comment[gu]=તમારી સિસ્ટમ પર ફોન્ટ જુઓ
Comment[he]=צפייה בגופנים במערכת שלך
Comment[hi]=अपने तंत्र पर फ़ॉन्ट देखें
Comment[hr]=Pregledajte slova na vašem sustavu
Comment[hu]=Telepített betűkészletek megjelenítése
Comment[id]=Lihat fonta pada sistem Anda
Comment[is]=Skoða letur á kerfinu þínu
Comment[it]=Visualizza i tipi di carattere presenti nel sistema
Comment[ja]=システム上のフォントを閲覧します
Comment[ka]=თქვენს სისტემაში არსებული ფონტების ნახვა
Comment[kk]=Жүйеңіздегі қаріптерді қарау
Comment[kn]=ನಿಮ್ಮ ವ್ಯವಸ್ಥೆಯಲ್ಲಿನ ಅಕ್ಷರಶೈಲಿಗಳನ್ನು ನೋಡಿ
Comment[ko]=시스템에 설치된 글꼴을 봅니다
Comment[ky]=Системада орнотулган алиптерди кароо
Comment[lt]=Rodyti sistemos šriftus
Comment[lv]=Pārlūkojiet un apskatiet savas sistēmas fontus
Comment[ml]=നിങ്ങളുടെ സിസ്റ്റത്തില്‍ അക്ഷരസഞ്ചയങ്ങള്‍ കാണുക
Comment[mr]=प्रणालीवरील फाँट्स्चे दृष्य
Comment[ms]=Lihat fon dalam sistem anda
Comment[nb]=Vis skrifter på systemet
Comment[ne]=प्रणालीको फन्ट हेर्नुहोस्
Comment[nl]=Lettertypen op uw systeem bekijken
Comment[oc]=Visualizar las polissas de vòstre sistèma
Comment[or]=ଆପଣଙ୍କ ତନ୍ତ୍ରରେ ଅକ୍ଷରରୂପଗୁଡ଼ିକୁ ଦେଖନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਸਿਸਟਮ ਉੱਤੇ ਫੋਂਟ ਵੇਖੋ
Comment[pl]=Wyświetlanie czcionek w systemie
Comment[pt]=Ver as fontes existentes no sistema
Comment[pt_BR]=Veja fontes no seu sistema
Comment[ro]=Vizualizați fonturile instalate pe sistemul dumneavoastră
Comment[ru]=Просмотр шрифтов, доступных в системе
Comment[sk]=Zobrazuje písma vo vašom systéme
Comment[sl]=Pregledovalnik sistemskih pisav
Comment[sr]=Прегледајте писма на вашем систему
Comment[sr@latin]=Pregledajte pisma na vašem sistemu
Comment[sv]=Visa typsnitt på ditt system
Comment[ta]=எழுத்துருக்களை கணினியில் பார்க்கவும்
Comment[te]=మీ వ్యవస్థలో ఉన్న ఖతులను చూడండి
Comment[tg]=Намоиш додани шрифтҳои системаи шумо
Comment[th]=ดูแบบอักษรต่างๆ ในระบบของคุณ
Comment[tr]=Sisteminizdeki yazı tiplerini görüntüleyin
Comment[ug]=بۇ سىستېمىدىكى خەت نۇسخىلىرىنى كۆرۈش پروگراممىسىدۇر
Comment[uk]=Переглянути шрифти на вашій системі
Comment[uz@cyrillic]=Системадаги шрифтларни кўриш
Comment[vi]=Ứng dụng xem phông chữ trên hệ thống của bạn
Comment[zh_CN]=查看您系统中的字体
Comment[zh_HK]=檢視你系統上的字型
Comment[zh_TW]=檢視您系統上的字型
Comment=View fonts on your system
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=fonts;fontface;fonte;lettertipe;skriftipe;
Keywords[an]=fuents;tipografia;
Keywords[ar]=خط;خطوط;
Keywords[as]=fonts;fontface;
Keywords[be]=шрыфты;
Keywords[bg]=fonts;fontface;шрифтове;глифи;очертания;уникод;юникод;кирилица;латиница;
Keywords[bn_IN]=ফন্ট;ফন্টফেস;
Keywords[br]=Nodrezhoù;Nodrezh;
Keywords[bs]=tip slova; izgled slova;
Keywords[ca]=tipus de lletra;tipografia;
Keywords[ca@valencia]=tipus de lletra;tipografia;
Keywords[ckb]=fonts;fontface;
Keywords[cs]=fonty;písma;řezy;
Keywords[da]=skrifttyper;skrifttypefamilie;skrifttypefremtoning;fonts;fontface;
Keywords[de]=Schriftart;Schriftschnitt;
Keywords[el]=γραμματοσειρές;οικογένεια γραμματοσειρών;fonts;fontface;
Keywords[en_GB]=fonts;fontface;
Keywords[eo]=tiparoj;tiparnomo;
Keywords[es]=tipografía;letra;tipo;
Keywords[et]=fondid;font;kirjatüüp;kirjatüübid;
Keywords[eu]=tipografia;letra-tipoak;letra;tipoa;
Keywords[fa]=fonts;fontface;فونت; قلم;
Keywords[fi]=fonts;fontface;fontti;fontit;kirjasin;kirjasimet;
Keywords[fr]=polices;fontes;
Keywords[fur]=caratar;caratars;caratars tipografics;gjenar di caratar;
Keywords[gd]=cruthan-clò;aodann crutha-clò;
Keywords[gl]=tipos de letra;fontface;
Keywords[gu]=ફોન્ટ;ફોન્ટફેસ;
Keywords[he]=גופנים;גופן;פונטים;גליפים;
Keywords[hi]=fonts;fontface;
Keywords[hr]=slova;izgledslova;
Keywords[hu]=betűk;betűkészlet;
Keywords[id]=fonta;fontface;
Keywords[is]=Letur;Leturgerð;
Keywords[it]=tipo di carattere;tipi di carattere;carattere;caratteri;carattere tipografico;caratteri tipografici;
Keywords[ja]=fonts;fontface;フォント書体;
Keywords[ka]=fonts;fontface;ფონტი;
Keywords[kk]=қаріп;
Keywords[kn]=ಅಕ್ಷರಶೈಲಿಗಳು;ಅಕ್ಷರಶೈಲಿಗುಂಪು;
Keywords[ko]=fonts;글꼴;fontface;폰트;서체;
Keywords[lt]=šriftai;šrifto peržiūra;
Keywords[lv]=fonti;šrifti;
Keywords[ml]=fonts;fontface;
Keywords[mr]=फाँट्स;फाँटफेस;
Keywords[ms]=fon;rupa fon;
Keywords[nb]=skrifter;skrifttyper;
Keywords[ne]=फन्ट;फन्टफेस;
Keywords[nl]=fontface;lettertype;letter;font;typografie;
Keywords[oc]=poliças;fontas;polissas;
Keywords[or]=ଅକ୍ଷରରୂପ;ଅକ୍ଷରରୂପ ମୁଖା;
Keywords[pa]=ਫੋਂਟ;ਫ਼ੋਂਟਫੇਸ;ਫ਼ੋਂਟ;
Keywords[pl]=czcionki;fonty;glify;pismo;alfabet;znaki;przeglądarka;
Keywords[pt]=fontes;letras;
Keywords[pt_BR]=fontes;tipo de fonte;tipo da fonte;
Keywords[ro]=fonts;fontface;fonturi;
Keywords[ru]=шрифты;начертание;шрифта;
Keywords[sk]=písmo;písma;rodina;
Keywords[sl]=pisave;fonti;oblika zapisa;zapis;črke;besede;znaki;ikone;emotikoni;izrazne;
Keywords[sr]=слова;фонтови;писма;
Keywords[sr@latin]=slova;fontovi;pisma;
Keywords[sv]=typsnitt;teckensnitt;
Keywords[ta]=எழுத்துரு;எழுத்துமுகம்;
Keywords[te]=fonts;fontface;
Keywords[tg]=шрифт;намуди шрифт;
Keywords[th]=แบบอักษร;ฟอนต์;
Keywords[tr]=yazı tipleri;yazıtipleri;yazı tipi ailesi;yazıtipi ailesi;
Keywords[ug]=خەت نۇسخا;فونت;fonts;fontface;
Keywords[uk]=fonts;fontface;шрифт;текст;гарнітура;
Keywords[uz@cyrillic]=шрифтлар;
Keywords[vi]=fonts;phông;phong;chữ;chư;chu;fontface;
Keywords[zh_CN]=fonts;fontface;字体;样式;
Keywords[zh_HK]=fonts;fontface;字型;字形;字樣;字體;
Keywords[zh_TW]=fonts;fontface;字型;字樣;字體;
Keywords=fonts;fontface;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.font-viewer
Exec=gnome-font-viewer %u
Terminal=false
Type=Application
DBusActivatable=true
StartupNotify=true
Categories=GTK;GNOME;Utility;X-GNOME-Utilities;
MimeType=application/x-font-ttf;application/x-font-pcf;application/x-font-type1;application/x-font-otf;font/ttf;font/otf;font/woff;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-font-viewer
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-OtherBinaries=gnome-thumbnail-font
X-GNOME-Bugzilla-Version=43.0
OnlyShowIn=GNOME;
