Source: lernstick-kiriki
Section: games
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-kiriki
Architecture: all
Depends: kiriki
Description: Show kiriki only in menu if running KDE
 We show kiriki only in the menu if KDE is running.
