[Desktop Entry]
X-MultipleArgs=false
Type=Application
Name=DevedeNG
GenericName=DVD/CD Video Creator
GenericName[de]=Erstellung von Video-DVDs/CDs
X-GNOME-FullName=DevedeNG DVD/CD Video Creator
X-GNOME-FullName[ca]=DevedeNG creador de CD/DVDs de vídeo
X-GNOME-FullName[de]=DevedeNG Video-DVD/CD-Ersteller
X-GNOME-FullName[es]=DevedeNG creador de CD/DVDs de vídeo
X-GNOME-FullName[gl]=DevedeNG creador de CD/DVDs de vídeo
X-GNOME-FullName[it]=DevedeNG creatore di video CD/DVD
X-GNOME-FullName[pl]=DevedeNG tworzenie wideo na CD/DVD
Comment=Allows to create video CDs and DVDs, suitable to be reproduced in home DVD players
Comment[ca]=Permet crear CDs i DVDs de vídeo, que poden reproduir-se en reproductors domèstics
Comment[de]=Ermöglicht die Erstellung von Video-CDs und DVDs, die in DVD-Spielern wiedergegeben werden können
Comment[es]=Permite crear video CDs y DVDs, que pueden reproducirse en reproductores domésticos
Comment[gl]=Permite crear video CDs e DVDs, que poden reproducirse en reproductores domésticos
Comment[it]=Permette di creare video CD e DVD che possono essere riprodotti con lettori DVD
Comment[pl]=Pozwala stworzyć wideo na płytach CD lub DVD, do otwarzania w domowych odtwarzaczach DVD
TryExec=/usr/bin/devede
Exec=/usr/bin/devede
Categories=AudioVideo;
Icon=devedeng
