Source: lernstick-xfce4-power-manager
Section: xfce
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-xfce4-power-manager
Architecture: all
Depends: xfce4-power-manager
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Show Xfce power manager only in Xfce and LXDE
 We start and show the Xfce power manager only in Xfce and LXDE
