Source: lernstick-xfce4-terminal
Section: xfce
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-xfce4-terminal
Architecture: all
Depends: xfce4-terminal
Description: Shows xfce4-terminal only when running XFCE
 We show xfce4-terminal only when running an XFCE session.
