Source: lernstick-tali
Section: games
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-tali
Architecture: all
Depends: tali
Description: Hides tali when running KDE
 We hide tali when running KDE as we already have kiriki there.
