[Desktop Entry]
Name=Wine configuration
Name[de]=Wine-Konfiguration
Comment=Setup the compatibility layer for Windows programs
Comment[ca]=Configura la capa de compatibilitat per a programes de Windows
Exec=winecfg
Icon=/usr/share/icons/oxygen/128x128/apps/wine.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Emulator;
