[Desktop Entry]
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[cs]=four-in-a-row
Icon[da]=four-in-a-row
Icon[de]=four-in-a-row
Icon[es]=four-in-a-row
Icon[fi]=four-in-a-row
Icon[fr]=four-in-a-row
Icon[fur]=four-in-a-row
Icon[gl]=four-in-a-row
Icon[hr]=four-in-a-row
Icon[hu]=four-in-a-row
Icon[id]=four-in-a-row
Icon[it]=four-in-a-row
Icon[ko]=four-in-a-row
Icon[lt]=four-in-a-row
Icon[lv]=four-in-a-row
Icon[nl]=four-in-a-row
Icon[pl]=four-in-a-row
Icon[pt_BR]=four-in-a-row
Icon[sr]=four-in-a-row
Icon[sr@latin]=four-in-a-row
Icon[sv]=four-in-a-row
Icon=four-in-a-row
Name[ar]=أربعة في صف
Name[be]=Чатыры ў радок
Name[bg]=Четири в линия
Name[bs]=Četiri-u-redu
Name[ca]=Quatre en ratlla
Name[ca@valencia]=Quatre en ratlla
Name[cs]=Čtyři-v-jedné-řadě
Name[da]=Fire på stribe
Name[de]=Vier gewinnt
Name[el]=Τέσσερα στη σειρά
Name[en_GB]=Four-in-a-row
Name[es]=Cuatro en raya
Name[et]=Neli-tükki-reas
Name[eu]=Lauko artzain-jokoa
Name[fa]=چهار-در-یک-ردیف
Name[fi]=Neljä rivissä
Name[fr]=Quatre-à-la-suite
Name[fur]=Fuarce 4
Name[gl]=Catro en raia
Name[he]=ארבע בשורה
Name[hi]=एक-पंक्ति-में-चार
Name[hr]=Četiri u nizu
Name[hu]=Négyet egy sorba
Name[id]=Four-in-a-row
Name[it]=Forza 4
Name[ja]=四目並べ
Name[km]=Four-in-a-row
Name[ko]=사목
Name[lt]=Keturi eilėje
Name[lv]=Četri rindā
Name[ml]=വരിയില്‍ നാല്
Name[nb]=Fire på rad
Name[nl]=Vier-op-een-rij
Name[oc]=Quatre-en-seguida
Name[pa]=ਇੱਕ ਕਤਾਰ 'ਚ ਚਾਰ
Name[pl]=Czwórki
Name[pt]=Quatro-em-linha
Name[pt_BR]=Quatro-em-uma-linha
Name[ru]=Четыре в ряд
Name[sk]=Štyri v rade
Name[sl]=Štiri v vrsto
Name[sr]=Четири у низу
Name[sr@latin]=Četiri u nizu
Name[sv]=Fyra-i-rad
Name[ta]=ஒரு-வரியில்-நான்கு
Name[th]=แถวเรียงสี่
Name[tr]=Bir-Sırada-Dört-Taş
Name[ug]=بىر قۇردا تۆت
Name[uk]=Чотири в ряд
Name[vi]=Bốn-trong-một-hàng
Name[zh_CN]=四子连线
Name[zh_HK]=四子連環棋
Name[zh_TW]=四子連環棋
Name=Four-in-a-row
Comment[af]=Maak rye van dieselfde kleur om te wen
Comment[ar]=تنافس للقيام بسطور من نفس اللون
Comment[as]=খানি পংক্তিৰ জন্য সৰ্বমোট ৰং
Comment[ast]=Cria linies del mesmu collor pa ganar
Comment[be]=Каб выйграць, складай лініі з аднаго колеру
Comment[bg]=За да спечелите, подредете пулове от един цвят в линия
Comment[bn]=একই রঙের সারি তৈরির জন্য প্রতিযোগিতা করুন
Comment[bn_IN]=একই রঙের সারি তৈরির জন্য প্রতিযোগিতা করুন
Comment[bs]=Napravite linije iste boje kako biste pobijedili
Comment[ca]=Per guanyar feu línies del mateix color
Comment[ca@valencia]=Per guanyar feu línies del mateix color
Comment[cs]=Soutěžte ve tvorbě úseček ze stejné barvy
Comment[cy]=Cystadlu i wneud llinellau o'r un lliw
Comment[da]=Dan linjer af samme farve for at vinde
Comment[de]=Im Wettkampf Reihen gleicher Farben anordnen
Comment[dz]=རྒྱལ་ཁ་ཐོབ་ནི་ལུ་ ཚོས་གཞི་ཅོག་གཅིག་པའི་གྱལ་རིམ་བཟོ།
Comment[el]=Φτιάξτε γραμμές του ιδίου χρώματος για να κερδίσετε
Comment[en_CA]=Make lines of the same colour to win
Comment[en_GB]=Make lines of the same colour to win
Comment[en@shaw]=𐑥𐑱𐑒 𐑤𐑲𐑯𐑟 𐑝 𐑞 𐑕𐑱𐑥 𐑒𐑳𐑤𐑼 𐑑 𐑢𐑦𐑯
Comment[eo]=Liniigu samkoloraĵojn por gajni
Comment[es]=Haga líneas del mismo color para ganar
Comment[et]=Ühevärviliste ridade kombineerimise võistlus
Comment[eu]=Irabazteko, osatu kolore bereko ilarak
Comment[fa]=برای بردن خطوطی از یک رنگ ایجاد کنید
Comment[fi]=Tee samanvärisiä rivejä ja voita
Comment[fr]=Réaliser des lignes de la même couleur pour gagner
Comment[fur]=Cree des liniis dal stes colôr par vinci
Comment[gl]=Faga liñas da mesma cor para gañar
Comment[gu]=જીતવા માટે એવા જ રંગની લીટીઓ બનાવો
Comment[he]=יצירת שורות מאותו הצבע כדי לזכות
Comment[hi]=समान रंग की पंक्ति बनाने हेतु प्रतिस्पर्धा करें
Comment[hr]=Učinite redak od istih boja za pobjedu
Comment[hu]=Alkosson azonos színű sorokat a győzelemhez
Comment[id]=Buat garis dengan warna yang sama untuk menang
Comment[it]=Crea delle linee dello stesso colore per vincere
Comment[ja]=同じ色のラインを作って競い合ってください
Comment[km]=បង្កើត​បន្ទាត់​ដូច​គ្នា​ត្រូវ​ឈ្នះ
Comment[kn]=ಗೆಲ್ಲಲು ಒಂದೆ ಬಣ್ಣದ ಗೆರೆಗಳನ್ನು ರಚಿಸು
Comment[ko]=같은 색을 한 줄로 놓아야 이기는 게임
Comment[lt]=Laimėkite sudėdami vienodos spalvos linijas
Comment[lv]=Lai uzvarētu, veidojiet līnijas vienā krāsā
Comment[mai]=समान रँग क' पंक्ति बनाबै लेल प्रतिस्पर्धा करू
Comment[mk]=Правете линии во иста боја за да победите
Comment[ml]=ജയിക്കാനായി ഒരേ നിറമുള്ളവരികള്‍ നിര്‍മിക്കുക.
Comment[mr]=जिंकण्याकरीता सारख्या रंगाच्या रांगा बनवा
Comment[nb]=Lag linjer med samme farge for å vinne
Comment[ne]=विजयी हुनका लागि उस्तै रङको लाइन बनाउनुहोस्
Comment[nl]=Probeer lijnen van dezelfde kleur te maken om te winnen
Comment[nn]=Lag linjer med same farge for å vinne
Comment[oc]=Realizar de linhas de la meteissa color per ganhar
Comment[or]=ଜିତିବା ପାଇଁ ସମାନ ରଙ୍ଗର ରେଖାଗୁଡିକୁ ତିଆରି କର
Comment[pa]=ਜਿੱਤਣ ਲਈ ਉਸੇ ਰੰਗ ਦੀਆਂ ਲਾਇਨਾਂ ਬਣਾਓ
Comment[pl]=Tworzenie linii tego samego koloru, aby wygrać
Comment[pt]=Construa linhas da mesma cor para ganhar
Comment[pt_BR]=Torne as linhas da mesma cor para vencer
Comment[ro]=Încercați să creați linii de aceeași culoare pentru a câștiga
Comment[ru]=Для победы выстраивайте ряды шариков одинакового цвета
Comment[sk]=Vyhráte vytvorením radu kameňov rovnakej farby
Comment[sl]=Za zmago čim hitreje sestavite vrstice iste barve
Comment[sr]=Начините низове исте боје да победите
Comment[sr@latin]=Načinite nizove iste boje da pobedite
Comment[sv]=Skapa rader med samma färg för att vinna
Comment[ta]=ஒரே நிறத்திலான வரிகளை உருவாக்குவதற்்ுகாக போடிடு
Comment[te]=గెలుచుటకు వొకే రంగు గీతలను చేయుము
Comment[th]=เอาชนะด้วยการสร้างแถวสีเดียว
Comment[tr]=Aynı renkten çizgiler yapmak için yarışın
Comment[ug]=ئوخشاش رەڭدىكى قۇرلارنى ياسىسا ئۇتىدۇ
Comment[uk]=Щоб виграти складайте лінії однакового кольору
Comment[vi]=Đua để sắp dòng cùng màu để thắng
Comment[zh_CN]=将四粒棋子排成一线以取胜
Comment[zh_HK]=將 4 粒棋子排成一直線
Comment[zh_TW]=將 4 粒棋子排成一直線
Comment=Make lines of the same color to win
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=гульня;стратэгія;логіка;лагічная гульня;
Keywords[bg]=логическа;игра;стратегия;морски;шах;game;strategy;logic;
Keywords[bs]=igra;strategija;logika;
Keywords[ca]=joc;estratègia;lògica;
Keywords[ca@valencia]=joc;estratègia;lògica;
Keywords[cs]=hra;strategická;logická;
Keywords[da]=spil;strategi;logik;
Keywords[de]=Spiel;Strategie;Logik;
Keywords[el]=παιχνίδι;στρατηγική;λογική;game;strategy;logic;
Keywords[en_GB]=game;strategy;logic;
Keywords[es]=juego;estrategia;lógica;
Keywords[et]=mäng;strateegia;loogika;
Keywords[eu]=jokoa;estrategia;logika;
Keywords[fa]=game;strategy;logic;بازی;استراتژی;منطق;
Keywords[fi]=game;strategy;logic;logiikka;strategia;peli;
Keywords[fr]=jeu;stratégie;logique;
Keywords[fur]=zûc;strategjie; logjiche;
Keywords[gl]=xogo;estratexia;lóxica;
Keywords[he]=משחק;אסטרטגיה;היגיון;הגיון;
Keywords[hi]=game;strategy;logic;
Keywords[hr]=igra;strategija;logika;
Keywords[hu]=játék;stratégia;logika;
Keywords[id]=permainan;strategi;logika;
Keywords[it]=gioco;giochi;strategia;logica;
Keywords[ja]=game;strategy;logic;ゲーム;ストラテジー;ロジック;論理;puzzle;パズル;Four-in-a-Row;
Keywords[kk]=ойын;стратегия;логика;
Keywords[ko]=game;게임;strategy;전략;logic;논리;로직;
Keywords[lt]=žaidimas;strategija;logika;
Keywords[lv]=spēle;stratēģija;loģika;
Keywords[ml]=കളി;തന്ത്രം;ലോഗിക്‌;
Keywords[nb]=spill;strategi;logikk;
Keywords[nl]=game;strategy;logic;spel;strategie;logica;
Keywords[oc]=jòc;estrategia;logica;
Keywords[pa]=ਖੇਡ;ਗੇਮ;ਲਾਜਿਕ;ਨੀਤੀgame;strategy;logic;
Keywords[pl]=gra;gierka;strategiczna;strategia;logiczna;logika;
Keywords[pt]=jogo;estratégia;lógica;
Keywords[pt_BR]=jogo;game;estratégia;lógica;
Keywords[ru]=игра;стратегия;логическая;
Keywords[sk]=hra;strategická;logická;stratégia;logika;
Keywords[sl]=igra;strategija;logika;
Keywords[sr]=игра;стратегија;логика;
Keywords[sr@latin]=igra;strategija;logika;
Keywords[sv]=spel;strategi;logik;
Keywords[ta]=விளையாட்டு;திட்டம்;தர்க்கம்;
Keywords[tr]=oyun;strateji;mantık;
Keywords[uk]=гра;стратегія;логіка;
Keywords[zh_CN]=game;strategy;logic;游戏;策略;逻辑;
Keywords[zh_HK]=game;strategy;logic;遊戲;策略;邏輯;
Keywords[zh_TW]=game;strategy;logic;遊戲;策略;邏輯;
Keywords=game;strategy;logic;
Exec=four-in-a-row
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
NotShowIn=KDE;
