[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Wine Control Panel
Name[de]=Wine-Systemsteuerung
Exec=wine control
Icon=/usr/share/icons/oxygen/base/128x128/apps/wine.png
Terminal=false
Categories=Emulator;
