[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Wine Control Panel
Name[de]=Wine-Systemsteuerung
Exec=wine control
Icon=/usr/share/icons/gnome-colors-common/scalable/apps/wine.svg
Terminal=false
Categories=Emulator;
