[Desktop Entry]
Name=Wine
NoDisplay=true
Exec=wine %u
Icon=/usr/share/icons/gnome-colors-common/scalable/apps/wine.svg
Type=Application
MimeType=application/x-ms-dos-executable;
