Source: lernstick-qelectrotech
Section: electronics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-qelectrotech
Architecture: all
Depends: qelectrotech
Description: Changes the menu entry of qelectrotech
 We add some L10n to the qelectrotech desktop file and remove it from the
 science category (it is already in the graphics category).
