Source: lernstick-thunar
Section: xfce
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-thunar
Architecture: all
Depends: thunar
Description: Changes the menu entries of thunar
 We show Thunar and its settings only in XFCE as we have different file
 managers in other desktop environments.
 We hide Thunar Bulk rename in desktop environments with their own solution,
 like KDE (krename) and MATE (caja-rename).
