Source: lernstick-ark
Section: utils
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-ark
Architecture: all
Depends: ark
Description: Show ark only in menu if running KDE
 We show ark only in the menu if KDE is running.
