Source: lernstick-openshot-qt
Section: video
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-openshot-qt
Architecture: all
Depends: openshot-qt
Description: Adds German translations to the desktop file
 We add German translations to the desktop file. See:
 https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=890002
