Source: lernstick-childsplay
Section: games
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-childsplay
Architecture: all
Depends: childsplay
Description: Changes the menu entry of childsplay
 We add a GenericName to the desktop file and add a svg icon.
