Source: lernstick-bkchem
Section: science
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-bkchem
Architecture: all
Depends: bkchem
Description: Changes the menu entry of bkchem
 We add some L10n to the bkchem desktop file
