[Desktop Entry]
Version=1.0
Name=Ardour
GenericName=Digital audio workstation
GenericName[de]=Digital Audio Workstation
Comment=Record, mix and master multi-track audio
Keywords=audio;sound;jackd,DAW,multitrack,ladspa,lv2,midi
Exec=/usr/bin/ardour3
Icon=ardour
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
