Source: lernstick-libreoffice-impress
Section: editors
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-libreoffice-impress
Architecture: all
Depends: libreoffice-impress
Description: Removes the LibreOffice Impress menu entry
 We remove the LibreOffice Impress menu entry because we already have
 the LibreOffice menu entry for the whole office suite.
 We also enforce the GNOME user interface because the file dialog in the KDE
 user interface currently just sucks.
 See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=752230 for details.
