Source: lernstick-python-apt-common
Section: admin
Priority: optional
Maintainer: Thore Sommer <mail@thson.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-python-apt-common
Architecture: all
Essential: yes
Depends: python-apt-common
Description: Add Lernstick configuration to python-apt
 This mirrrors the current Debian configuration
