[Desktop Entry]
Categories=Application;Education;Math;
Exec=iceweasel http://www.lehrer-online.de/maxima.php
Icon=konqueror
Name=wxMaxima-Unterrichtsmaterial
Type=Application
