[Desktop Entry]
Categories=Application;Education;Math;
Exec=firefox http://www.lehrer-online.de/maxima.php
Icon=konqueror
Name=wxMaxima-Unterrichtsmaterial
Type=Application
