[Desktop Entry]
Categories=GTK;Graphics;Viewer;
Exec=gpicview %u
Icon=gpicview
StartupNotify=true
Type=Application
Terminal=false
MimeType=application/x-navi-animation;image/bmp;image/gif;image/x-icns;image/jpeg;image/png;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-quicktime;image/svg+xml;image/x-tga;image/tiff;image/vnd.microsoft.icon;image/vnd.zbrush.pcx;image/x-pcx;image/x-win-bitmap;image/wmf;image/x-wmf;image/x-xbitmap;image/x-xpixmap;
Name=GPicView
Name[af]=GPicView
Name[ar]=عارض‌الصّور‌ج
Name[ast]=GPicView
Name[be]=GPicView
Name[bg]=GPicView
Name[bn]=GPicView
Name[bn_IN]=GPicView
Name[bs]=GPicView
Name[ca]=GPicView
Name[cs]=GPicView
Name[da]=GPicView
Name[de]=GPicView
Name[el]=GPicView
Name[en_GB]=GPicView
Name[eo]=GPicView
Name[es]=GPicView
Name[et]=GPicView
Name[eu]=GPicView
Name[fa]=جی‌پیک‌ویو
Name[fi]=GPicView
Name[fo]=GPicView
Name[fr]=GPicView
Name[gl]=GPicView
Name[he]=מציג התמונות GPicView
Name[hr]=GPicView
Name[hu]=GPicView
Name[id]=GPicView
Name[is]=GPicView
Name[it]=GPicView
Name[ja]=GPicView
Name[kk]=GPicView
Name[kn]=GPic ನೋಟ
Name[ko]=GPicView
Name[lg]=GPicView
Name[lt]=GPicView
Name[ms]=GPicView
Name[nb]=GPicView
Name[nl]=GPicView
Name[nn]=GPicView
Name[pl]=GPicView
Name[pt]=GPicView
Name[pt_BR]=GPicView
Name[ro]=GPicView
Name[ru]=GPicView
Name[sk]=GPicView
Name[sl]=GPicView
Name[sr]=Прегледник слика
Name[sr@latin]=Pregledač slika
Name[sv]=GPicView
Name[te]=జిపిక్‌వ్యూ
Name[th]=GPicView
Name[tr]=GPicView
Name[tt_RU]=GPicView
Name[ug]=GPicView
Name[uk]=GPicView
Name[ur]=جی پیک ویو
Name[ur_PK]=جی پیک ویو
Name[vi]=GPicView
Name[zh_CN]=GPicView
Name[zh_TW]=GPicView 圖片檢視
GenericName=Image Viewer
GenericName[af]=Beeldbekyker
GenericName[ar]=عارض صور
GenericName[ast]=Visor d'imáxenes
GenericName[be]=Прагляд выяў
GenericName[bg]=Изобразител
GenericName[bn]=ছবি প্রদর্শক
GenericName[bn_IN]=ইমেজ প্রদর্শক
GenericName[bs]=Preglednik Slika
GenericName[ca]=Visualitzador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Εφαρμογή Προβολής Εικόνων
GenericName[en_GB]=Image Viewer
GenericName[eo]=Bild-montrilo
GenericName[es]=Visor de imágenes
GenericName[et]=Pildivaatur
GenericName[eu]=Irudi ikustailea
GenericName[fa]=نمایشگر تصویر
GenericName[fi]=Kuvankatselin
GenericName[fo]=Myndasýnari
GenericName[fr]=Visionneur d'images
GenericName[gl]=Visor de imaxes
GenericName[he]=מציג התמונות
GenericName[hr]=Preglednik slika
GenericName[hu]=Képmegjelenítő
GenericName[id]=Penampil Citra
GenericName[is]=Myndskoðari
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=イメージビューワ
GenericName[kk]=Суреттерді көрсетуші
GenericName[kn]=ಇಮೇಜ್ ವ್ಯುವರ್
GenericName[ko]=그림 보기
GenericName[lg]=Puloguramu ey'okukebera bifaananyi
GenericName[lt]=Paveikslų žiūryklė
GenericName[ms]=Pemapar Imej
GenericName[nb]=Bildevisning
GenericName[nl]=Afbeeldingkijker
GenericName[nn]=Biletvisar
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de imagens
GenericName[pt_BR]=Visualizador de imagens
GenericName[ro]=Vizualizare de imagini
GenericName[ru]=Просмотр изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sr]=Прегледник слика
GenericName[sr@latin]=Pregledač slika
GenericName[sv]=Bildvisare
GenericName[te]=బొమ్మ వీక్షకం
GenericName[th]=ตัวดูภาพ
GenericName[tr]=Resim Görüntüleyici
GenericName[tt_RU]=Рәсем күрсәтүчесе
GenericName[ug]=سۈرەت كۆرگۈ
GenericName[uk]=Переглядач зображень GPicview
GenericName[ur]=تصاویر منظرکار
GenericName[ur_PK]=تصاویر منظرکار
GenericName[vi]=Ứng dụng xem ảnh
GenericName[zh_CN]=图像查看器
GenericName[zh_TW]=圖片檢視
Comment=View your images easily
Comment[af]=Bekyk beelde met gemak
Comment[ar]=اعرض صورك بسهولة
Comment[ast]=Vea les sos imáxenes cenciellamente
Comment[be]=Праглядайце выявы без клапот і турбот
Comment[bg]=Плавен преглед на вашите снимки
Comment[bn]=সহজেই আপনার ছবিগুলো দেখুন
Comment[bn_IN]=আপনার ছবিগুলি সহজে দেখে নিন
Comment[bs]=Lako pregledajte svoje slike
Comment[ca]=Visualitzeu imatges fàcilment
Comment[cs]=Prohlížejte si svoje obrázky jednoduše
Comment[da]=Fremvis nemt dine billeder
Comment[de]=Einfacher Bildbetrachter
Comment[el]=Προβάλετε τις εικόνες σας εύκολα
Comment[en_GB]=View your images easily
Comment[es]=Vea sus imágenes fácilmente
Comment[et]=Vaata pilte veel lihtsamalt
Comment[eu]=Ikusi zure irudiak modu errazean
Comment[fa]=نگاهی سریع و آسان
Comment[fi]=Katso kuviasi helposti
Comment[fo]=Sýn myndir tínar lættliga
Comment[fr]=Visionner des images facilement
Comment[gl]=Vexa as súas imaxes doadamente
Comment[he]=צפייה בהודעות האישיות בקלות
Comment[hr]=Pogledajte lako svoje slike
Comment[hu]=Képek megtekintése egyszerűen
Comment[id]=Lihat gambar Anda dengan mudah
Comment[is]=Skoðaðu myndirnar þínar á einfaldan hátt
Comment[it]=Visualizza facilmente le tue immagini
Comment[ja]=簡単に画像を見ることができます
Comment[kk]=Суреттеріңізді ыңғайлы қарау
Comment[ko]=그림을 쉽게 봅니다
Comment[lg]=Ekyanguya okukebera bifaananyi byo
Comment[lt]=Lengvai peržiūrėkite paveikslus
Comment[nb]=Vis bilder lettvint
Comment[nl]=Bekijk uw afbeeldingen op een makkelijke manier
Comment[nn]=Vis bilete
Comment[pl]=Wygodnie przeglądaj swoje obrazy
Comment[pt]=Ver imagens facilmente
Comment[pt_BR]=Visualize suas imagens de forma fácil
Comment[ro]=Vizualizare facilă de imagini
Comment[ru]=Смотрите ваши изображения без проблем
Comment[sk]=Jednoduché prehliadanie obrázkov
Comment[sl]=Oglejte si svoje slike
Comment[sr]=Лагано прегледање слика
Comment[sr@latin]=Lagano pregledanje slika
Comment[sv]=Visa dina bilder enkelt
Comment[te]=మీ బొమ్మలను సులువుగా చూడండి
Comment[th]=ดูภาพอย่างง่ายดาย
Comment[tr]=Resimlerinizi kolaylıkla görün
Comment[tt_RU]=Үз рәсемнәрегезне җиңел итеп карагыз
Comment[ug]=سۈرەتنى ئوڭايلا كۆرگىلى بولىدۇ
Comment[uk]=Легко переглядайте Ваші зображення
Comment[vi]=Xem hình ảnh của bạn một cách dễ dàng
Comment[zh_CN]=轻松查看数码相片和图片
Comment[zh_TW]=輕鬆檢視數位相片和圖片
OnlyShowIn=LXDE;
