[Desktop Entry]
Categories=X-lernstick;
Exec=pkexec dlcopy --exchangePartitionSize 8192 --exchangePartitionFileSystem FAT32 --copyDataPartition true --instantInstallation true
Icon=/usr/share/icons/dlcopy-quick.png
Name=Quick installation
Name[de]=Schnell-Installation
StartupNotify=true
StartupWMClass=ch-fhnw-dlcopy-DLCopy
Type=Application
