Source: lernstick-gcompris
Section: games
Priority: extra
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-gcompris
Architecture: all
Depends: gcompris, gnucap
Description: Changes the desktop file and dependencies of gcompris
 We change the Name and sync the GenericName fields in the desktop file with
 childsplay. We also add a dependency on gnucap (needed for the electricity
 activity).
