Source: lernstick-gnome-mplayer
Section: video
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-gnome-mplayer
Architecture: all
Depends: gnome-mplayer
Description: Hides the menu entry of gnome-mplayer
 We install gnome-mplayer because it is a dependency of gecko-mediaplayer
 we do not want to clutter the start menu with another media player.
 Therefore this package hides the start menu entry of gnome-mplayer.
