Source: lernstick-step
Section: kde
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-step
Architecture: all
Depends: step
Description: Changes the menu entry of step
 We move the menu entry of step to a better place.
