Source: lernstick-kdf
Section: utils
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-kdf
Architecture: all
Depends: kdf
Description: Show kdf only in menu if running KDE
 We show kdf only in the menu if KDE is running.
