Source: lernstick-gnome-system-tools
Section: gnome
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-gnome-system-tools
Architecture: all
Depends: gnome-system-tools
Description: Show GNOME system tools only in LXDE
 We show the GNOME system tools only in LXDE, see:
 https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=888670
