[Desktop Entry]
Type=Application
Version=1.0
Name[am]=የ ፊደል አስተዳዳሪ
Name[ar]=مدير الخطوط
Name[ca]=Gestor tipogràfic
Name[de]=Font Manager
Name[eo]=Tiparadministrilo
Name[es]=Gestor de fuentes
Name[fr]=Gestionnaire de police
Name[hr]=Font Manager
Name[hu]=Betűkészlet-kezelő
Name[id]=Pengelola Font
Name[it]=Font Manager
Name[ja]=フォントマネージャー
Name[ko]=글꼴 관리자
Name[nb_NO]=Skriftbehandler
Name[nl]=Font Manager
Name[oc]=Gestionari de polissa
Name[pl]=Zarządzanie czcionkami
Name[pt_BR]=Gerenciador de Fontes
Name[ro]=Manager de fonturi
Name[ru]=Менеджер шрифтов
Name[sk]=Správca písiem
Name[sl]=Upravitelj pisav
Name[sv]=Font Manager
Name[ta]=எழுத்துரு மேலாளர்
Name[tr]=Yazı Tipi Yönetici
Name[uk]=Розпорядник шрифтів
Name[zgh]=ⴰⵎⵏⵏⵉⵥⴹ ⵏ ⵜⵓⵏⵉⵖⵜⵉⵏ
Name[zh_CN]=字体管理器
Name[zh_HK]=字体管理器
Name[zh_TW]=字形總管
Name=Font Manager
GenericName[am]=የ ፊደል አስተዳዳሪ
GenericName[ar]=مدير الخطوط
GenericName[ca]=Gestor tipogràfic
GenericName[de]=Font Manager
GenericName[eo]=Tiparadministrilo
GenericName[es]=Gestor de fuentes
GenericName[fr]=Gestionnaire de police
GenericName[hr]=Font Manager
GenericName[hu]=Betűkészlet-kezelő
GenericName[id]=Pengelola Font
GenericName[it]=Font Manager
GenericName[ja]=フォントマネージャー
GenericName[ko]=글꼴 관리자
GenericName[nb_NO]=Skriftbehandler
GenericName[nl]=Font Manager
GenericName[oc]=Gestionari de polissa
GenericName[pl]=Zarządzanie czcionkami
GenericName[pt_BR]=Gerenciador de Fontes
GenericName[ro]=Manager de fonturi
GenericName[ru]=Менеджер шрифтов
GenericName[sk]=Správca písiem
GenericName[sl]=Upravitelj pisav
GenericName[sv]=Font Manager
GenericName[ta]=எழுத்துரு மேலாளர்
GenericName[tr]=Yazı Tipi Yönetici
GenericName[uk]=Розпорядник шрифтів
GenericName[zgh]=ⴰⵎⵏⵏⵉⵥⴹ ⵏ ⵜⵓⵏⵉⵖⵜⵉⵏ
GenericName[zh_CN]=字体管理器
GenericName[zh_HK]=字体管理器
GenericName[zh_TW]=字形總管
GenericName=Font Manager
Comment[ar]=إستعرض، قارن ونظم الخطوط
Comment[de]=Vorschau, Vergleich und Verwalten von Schriftarten
Comment[eo]=Antaŭrigardi, kompari kaj administri tiparojn
Comment[es]=Previsualizar, comparar y gestionar tipos de letra
Comment[fr]=Prévisualiser, comparer et gérer les polices
Comment[hr]=Pregledaj, usporedi i upravljaj fontovima
Comment[hu]=Betűtípusok előnézete, összehasonlítása és kezelése
Comment[id]=Pratinjau, Bandingkan, dan Kelola Font
Comment[it]=Anteprima, Confronta e Gestisci i tipi di carattere
Comment[ja]=フォントをプレビュー、比較、管理します
Comment[ko]=글꼴 미리보기, 비교, 관리
Comment[nb_NO]=Forhåndsvis, sammenlign, og håndter skrifter
Comment[nl]=Lettertypen voorvertonen, vergelijken en beheren
Comment[oc]=Previsualizar, comparar e gerir las polissas
Comment[pl]=Przeglądaj, porównuj i zarządzaj czcionkami
Comment[pt_BR]=Visualize, Compare e Gerencie Fontes
Comment[ro]=Previzualizați, comparați și gestionați fonturile
Comment[ru]=Предпросмотр, cравнение, управление шрифтами
Comment[sk]=Náhľad, porovnávanie a správa písiem
Comment[sl]=Predogled, primerjava in upravljanje pisav
Comment[sv]=Förhandsgranska, jämför och hantera teckensnitt
Comment[ta]=எழுத்துருக்களை முன்னோட்டமிடுங்கள், ஒப்பிடுதல் மற்றும் நிர்வகிக்கவும்
Comment[tr]=Yazı Tiplerini Önizleyin, Karşılaştırın ve Yönetin
Comment[zh_CN]=预览，比较和管理字体
Comment[zh_TW]=預覽，比對與管理字型
Comment=Preview, Compare and Manage Fonts
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.github.FontManager.FontManager
DBusActivatable=true
Exec=font-manager %u
Terminal=false
MimeType=font/ttf;font/ttc;font/otf;font/sfnt;application/x-font-ttf;application/x-font-otf;application/vnd.ms-opentype;
Categories=Utility;GTK;GNOME;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[de]=Grafik;Betrachter;GNOME;GTK;Publizieren;
Keywords[eo]=Grafiko;Montrilo;GNOME;GTK;Eldonado;Tiparo;
Keywords[es]=Gráficos;Visor;GNOME;GTK;Edición;
Keywords[fr]=Graphisme; Visionneuse; GNOME; GTK; Publication;
Keywords[hr]=Font;Preglednik;GNOME;GTK;Publiciranje;
Keywords[hu]=Grafika;Néző;GNOME;GTK;Kiadás;
Keywords[id]=Grafik;Penampil;GNOME;GTK;Publishing;
Keywords[it]=Graphics;Viewer;GNOME;GTK;Publishing;
Keywords[ja]=Graphics;Viewer;GNOME;GTK;Publishing;グラフィックス;ビューアー;ビュアー;ビューワー;GNOME;GTK;出版;
Keywords[ko]=Graphics;Viewer;GNOME;GTK;Publishing;그래픽;뷰어;그놈;출판;
Keywords[nl]=Grafisch;Weergave;GNOME;GTK;Publicatie;Beheer;Lettertype;Font;
Keywords[pl]=Grafika;Czcionki;Zarządzanie;GNOME;GTK;Publikowanie;
Keywords[pt_BR]=Gráficos;Visualizador;GNOME;GTK;Publicação;
Keywords[ro]=Grafică; Vizualizator; GNOME; GTK; Editare;
Keywords[ru]=Графика;Просмотр;GNOME;GTK;Издательство;
Keywords[sk]=Graphics;Viewer;GNOME;GTK;Publishing;
Keywords[sl]=Grafika; Pregledovalnik; GNOME; GTK; Založništvo;
Keywords[sv]=Grafik;Visare;GNOME;GTK;Publicering;
Keywords[ta]=கிராபிக்ச்; பார்வையாளர்; க்னோம்; சி.டி.கே; வெளியீடு;
Keywords[tr]=Grafik;Görüntüleyici;GNOME;GTK;Yayıncılık;
Keywords[zh_CN]=Graphics;Viewer;GNOME;GTK;Publishing;图形;查看;出版;
Keywords[zh_TW]=圖形;檢視器;GNOME;GTK;出版;
Keywords=Graphics;Viewer;GNOME;GTK;Publishing;
StartupNotify=true
StartupWMClass=font-manager
X-GNOME-UsesNotifications=true
NotShowIn=KDE;
