[Desktop Entry]
Categories=X-lernstick-Astronomy;
Exec=firefox http://www.lehrer-online.de/stellarium.php
Icon=konqueror
Name=Stellarium-Unterrichtsmaterial
Type=Application
