[Desktop Entry]
Categories=X-lernstick-Astronomy;
Exec=firefox https://www.lehrer-online.de/suche/?tx_losearch_search[query]=stellarium
Icon=konqueror
Name=Stellarium-Unterrichtsmaterial
Type=Application
