Source: lernstick-gimagereader
Section: graphics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-gimagereader
Architecture: all
Depends: gimagereader
Description: Adds a German translation of the GenericName field in the desktop file
 We add a German translation of the GenericName field in the desktop file. See:
 https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=889633
