[Desktop Entry]
Name=VMPK
GenericName=Virtual Piano
GenericName[de]=Virtuelles Piano
Exec=vmpk
Icon=vmpk
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Midi;
Comment=Virtual MIDI Piano Keyboard
Comment[es]=Teclado de piano MIDI virtual 
Comment[ru]=Виртуальная MIDI Клавиатура-Пианино
Comment[tr]=Sanal MIDI Piyano Klavyesi
