Source: lernstick-octave
Section: math
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-octave
Architecture: all
Depends: octave
Description: Fixes and translates the Comment field in the desktop file
 We fix and translate the Comment field in the desktop file. See:
 https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=889739
