Source: lernstick-apper
Section: kde
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-apper
Architecture: all
Depends: apper
Description: Changes the menu entry of apper
 We remove apper from the System and Settings category. It is already in the
 PackageManager category and this should be enough.
