[Desktop Entry]
Name=Arduino IDE
Comment=Open-source electronics prototyping platform
GenericName=Create physical computing projects
GenericName[de]=Entwicklungsumgebung für Physical Computing
Exec=/usr/bin/arduino %f
Icon=arduino
Type=Application
Terminal=false
Categories=Development;Engineering;IDE;
MimeType=text/x-arduino
Keywords=embedded electronics;electronics;avr;microcontroller;
StartupWMClass=processing-app-Base
