Source: lernstick-marble
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-marble
Architecture: any
Depends: marble-data
Description: Changes the menu entry of marble
 We limit the marble category to "geography".
