[Desktop Entry]
Type=Application
Name[fr]=GPaste
Name=GPaste
Comment[fr]=Gérez l'historique de votre presse-papier
Comment[pt_BR]=Gerencie seu histórico da área de transferência
Comment=Manage your clipboard history
Keywords[fr]=Presse-Papier;Gestionnaire;Réglages;Préférences;Configuration;
Keywords[pt_BR]=Clipboard;Manager;Settings;Preferences;Configuration;
Keywords=Clipboard;Manager;Settings;Preferences;Configuration;
Icon[fr]=edit-paste
Icon=edit-paste
Exec=/usr/lib/gpaste/gpaste/gpaste-ui
DBusActivatable=true
Terminal=false
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
StartupNotify=true
NoDisplay=true
