[Desktop Entry]
Type=Application
Name[de]=GPaste
Name[es]=GPaste
Name[fr]=GPaste
Name[nl_NL]=GPaste
Name[sv]=GPaste
Name[nb_NO]=GPaste
Name=GPaste
Comment[de]=Verwalten Sie Ihren Zwischenablageverlauf
Comment[es]=Gestione el histórico de su portapapeles
Comment[fr]=Gérez l'historique de votre presse-papier
Comment[nl_NL]=Beheer uw klembordgeschiedenis
Comment[pt_BR]=Gerencie seu histórico da área de transferência
Comment[sv]=Hantera din urklippshistorik
Comment[nb_NO]=Håndter din utklippstavlehistorikk
Comment=Manage your clipboard history
Keywords[fr]=Presse-Papier;Gestionnaire;Réglages;Préférences;Configuration;
Keywords[nl_NL]=Klembord;Beheer;Instellingen;Voorkeuren;Configuratie;
Keywords[pt_BR]=Clipboard;Manager;Settings;Preferences;Configuration;
Keywords[sv]=Urklipp;Hanterare;Inställningar;Inställningar;Konfiguration;
Keywords[nb_NO]=Utklippstavle:håndtering;innstillinger;oppsett;clipboard;
Keywords=Clipboard;Manager;Settings;Preferences;Configuration;
Icon=edit-paste
Exec=/usr/libexec/gpaste/gpaste-ui
DBusActivatable=true
Terminal=false
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
StartupNotify=true
NoDisplay=true
