[Desktop Entry]
Categories=Application;Development;Java;
Exec=firefox /usr/share/doc/libopenjfx-java/api/index.html
Icon=/usr/share/icons/javafx_api.png
Name=JavaFX-API
Type=Application
