Source: lernstick-morris
Section: games
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-morris
Architecture: all
Depends: morris
Description: Changes the menu entry of morris
 We add some L10n to the morris desktop file
