Source: lernstick-gdebi
Section: admin
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-gdebi
Architecture: all
Depends: gdebi
Description: Hides the menu entry of gdebi
 We hide the start menu entry of gdebi.
