Source: dlcopy-winterthur
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: dlcopy-winterthur
Architecture: all
Depends: dlcopy-common
Description: A dlcopy quickinstall desktop file for Winterthur
 A dlcopy quickinstall desktop file for Winterthur
