Source: lernstick-kblocks
Section: games
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-kblocks
Architecture: all
Depends: kblocks
Description: Show kblocks only in menu if running KDE
 We show kblocks only in the menu if KDE is running.
