Source: lernstick-krita
Section: graphics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-krita
Architecture: all
Depends: krita
Description: Changes the XCF file association of krita
 We lower the preference of krita for XCF so that GIMP stays the default.
