[Desktop Entry]
Categories=X-lernstick;
Exec=dlcopy.user --autoUpgrade
Icon=dlcopy-autoupgrade
Name=Lernstick autoupgrade
Name[de]=Lernstick-Autoupgrade
StartupNotify=true
StartupWMClass=ch-fhnw-dlcopy-DLCopy
Type=Application
