[Desktop Entry]
Version=1.0
Comment=WYSIWYG Music score typesetter
Comment[ru]=Визуальный редактор нотных партитур
Exec=mscore
GenericName=Music notation
GenericName[de]=Notensatz
Icon=mscore
Name=MuseScore
StartupNotify=true
StartupWMClass=mscore.real
Terminal=false
Type=Application
Categories=Qt;Audio;Sequencer;Midi;AudioVideoEditing;AudioVideo;
MimeType=application/x-musescore;application/x-musescore+xml;application/vnd.recordare.musicxml;application/vnd.recordare.musicxml+xml;
