[Desktop Entry]
GenericName=2D vector animation studio
GenericName[ar]=استوديو الرسوم المتجهية المتحركة ثنائيى الابعاد 2d
GenericName[ca]=Estudi d'animació vectorial 2D
GenericName[cs]=2D vektorové animační studio
GenericName[da]=2D vektor animationsstudie
GenericName[de]=2D-Vektor-Animationsstudio
GenericName[en_GB]=2D vector animation studio
GenericName[es]=Estudio de animación vectorial 2D
GenericName[eu]=2D animazio bektorialaren estudioa
GenericName[eu_ES]=2D animazio bektorialaren estudioa
GenericName[fa_IR]=استودیوی پویانمایی وکتور 2بعدی
GenericName[fr]=Studio d'animation vectorielle 2D
GenericName[hu]=2D vektoros animációs stúdió
GenericName[it]=Studio animazione vettoriale 2D
GenericName[ja_JP]=２次元ベクター・アニメーション・スタジオ
GenericName[lt]=2D vektorinės animacijos studija
GenericName[nl]=2D vectoranimatiestudio
GenericName[pl_PL]=Studio wektorowej animacji 2D
GenericName[pt_BR]=Estúdio de animação vetorial 2D
GenericName[ru]=Студия двухмерной векторной анимации
GenericName[sk_SK]=2D vektorové animačné štúdio
GenericName[sr_RS]=Творац 2-димензионалних покретних слика
GenericName[sv_SE]=2D-vektoranimationsstudio
GenericName[tr]=2 boyutlu vektör animasyon studio
GenericName[zh_CN]=2D 矢量动画工作室
GenericName[zh_TW]=2D 向量動畫工作室
Comment=Create and edit 2D animations and compositions
Comment[ar]=اصنع وعدل رسوم متحركة وتراكيب ثنائية الابعاد 2d
Comment[cs]=Vytvoření a úprava 2D animace a kompozice
Comment[da]=Skab og rediger 2D animationer og opstillinger
Comment[de]=Erstelle und bearbeite 2D-Animationen und Kompositionen
Comment[es]=Crea y edita composiciones y animaciones 2D
Comment[fr]=Créer et éditer des animations et compositions 2D
Comment[nl]=Maak en bewerk 2D-animaties en composities
Comment[pl_PL]=Tworzenie i edycja animacji i kompozycji  2D
Comment[pt_BR]=Criar e editar animações 2D e composições
Comment[ru]=Создание двухмерной анимации
Comment[sk_SK]=Vytvárajte a meňte 2D animácie a kompozície
Comment[sr_RS]=Ствaрајте и компонујте 2-димензионалне покретне слике
Comment[sv_SE]=Skapa och redigera 2D-animationer och -kompositioner
Comment[tr]=2B animasyonlar ve kompozisyonlar oluşturun ve düzenleyin
Comment[zh_TW]=建立和編輯 2D動畫及創作
Exec=synfigstudio %F
Terminal=false
Type=Application
Icon=synfig_icon
Categories=GTK;Graphics;2DGraphics;VectorGraphics;
StartupNotify=true
MimeType=application/x-sif;
