Source: lernstick-seahorse
Section: gnome
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-seahorse
Architecture: all
Depends: seahorse
Description: We hide seahorse when running KDE
 We hide the seahorse when running KDE. We have kleopatra there.
