[Desktop Entry]
Version=1.0
Type=Application
Name=PyMOL Molecular Graphics System
Name[pl]=PyMOL, graficzny modeler cząsteczek
GenericName=Molecular Modeller
GenericName[de]=Moleküleditor
GenericName[pl]=Modeler cząsteczek
Comment=Model molecular structures and produce high-quality images of them
Comment[pl]=Program do tworzenia i wizualizowania modeli cząsteczek
TryExec=pymol
Exec=pymol %F
Terminal=false
Icon=pymol
MimeType=chemical/x-pdb;chemical/x-mdl-molfile;chemical/x-mol2;chemical/seq-aa-fasta;chemical/seq-na-fasta;chemical/x-xyz;chemical/x-mdl-sdf;
Categories=Education;Science;Chemistry;
