Source: lernstick-engrampa
Section: x11
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-engrampa
Architecture: all
Depends: engrampa
Description: Shows engrampa only in MATE
 As engrampa is very specific to MATE we only show it in the desktop menu when
 running MATE.
