Source: lernstick-konsole
Section: kde
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-konsole
Architecture: all
Depends: konsole
Description: Show konsole only in menu if running KDE
 We show konsole only in the menu if KDE is running.
