[Desktop Entry]
Name=Klavaro
Name[bg]=Klavaro
Name[da]=Klavaro
Name[de]=Klavaro
Name[el]=Klavaro
Name[eo]='Klavaro'
Name[es]=Klavaro
Name[eu]=Klavaro
Name[fr]=Klavaro
Name[gl]=Klavaro
Name[hr]=Klavaro
Name[hu]=Klavaro
Name[id]=Klavaro
Name[it]=Klavaro
Name[kk]=Klavaro
Name[ky]=Klavaro
Name[nb]=Om «Klavaro»
Name[nl]='Klavaro'
Name[pl]=Klavaro
Name[pt_BR]=Klavaro
Name[pt_PT]=Klavaro
Name[ro]=Klavaro
Name[ru]=Klavaro
Name[sr]=Клаваро
Name[sv]=Klavaro
Name[te]=క్లావరో
Name[tr]=Klavaro
Name[uk]=Klavaro
Name[ur]=کلاوارو
Name[vi]=Klavaro
Name[wo]=Klavaro
Name[zh_CN]=Klavaro
GenericName=Yet another touch typing tutor
GenericName[ar]=برنامج لتعليم الكتابة باللمس
GenericName[bg]=Поредният самоучител по машинопис
GenericName[bn]=আরেকটি স্পর্শ টাইপিং শিক্ষক
GenericName[ca]=Un altre tutor més de mecanografia
GenericName[cs]=Jeden z dalších programů pro výuku psaní na stroji
GenericName[da]=Endnu et værktøj til øvelse af maskinskrivning
GenericName[de]=Ein weiteres Programm zum Erlernen des Tastschreibens
GenericName[el]=Ένα ακόμη εκπαιδευτικό λογισμικό δακτυλογραφίας
GenericName[eo]=Simple plia instruilo por tajpado
GenericName[es]=Otro programa de mecanografía
GenericName[eu]=Horra beste mekanografia tutore bat
GenericName[fi]=Jälleen yksi konekirjoituksen ohjaaja
GenericName[fr]=Un logiciel d'apprentissage de la dactylographie
GenericName[gl]=Simplemente un titor máis de mecanografía
GenericName[hr]=Još jedan program za učenje tipkanja s deset prstiju
GenericName[hu]=Ingyenes és szabad gépírásoktató program
GenericName[id]=Sebuah tutorial mengetik
GenericName[it]=Un altro programma per imparare ad usare la tastiera
GenericName[kk]=Тағы да бір теруді үйретуші
GenericName[ky]=Дагы бир баскычтоп машыктыргычы
GenericName[nb]=Enda et verktøy til å øve maskinskrivning
GenericName[nl]=voor het leren van blind typen
GenericName[pa]=ਇੱਕ ਹੋਰ ਟੱਚ ਟਾਈਪਿੰਗ ਸਿਖਿੱਅਕ
GenericName[pl]=Jeszcze jeden samouczek szybkiego pisania
GenericName[pt_BR]=Mais um tutorial para digitação
GenericName[pt_PT]=Ainda outro tutor de dactilografia
GenericName[ro]=Un alt tutor de dactilografiere cu ajutorul tastaturii
GenericName[ru]=Ещё один клавиатурный тренажёр
GenericName[sl]=Še en program za učenje slepega tipkanja
GenericName[sr]=Још један програмчић за учење куцања
GenericName[sv]=Ännu en tangentbordstränare
GenericName[tr]=Bir başka klavyeye bakmadan yazma öğretmeni
GenericName[uk]=Ще одна програма для навчання набору наосліп
GenericName[ur]=ایک اور لمسی ٹائپنگ اتالیق
GenericName[vi]=Đây là một chương trình học gõ bàn phím máy tính khác dành cho bạn
GenericName[wo]=xeltéefub njàngum daktilo
GenericName[zh_CN]=就是另一个盲打训练的家庭教师
Comment=A very flexible and efficient touch typing tutor.
Comment[ar]=تعلَّم الكتابة بلوحة المفاتيح بسهولة ويُسر.
Comment[ca]=Un tutor de mecanografia molt flexible i eficient.
Comment[cs]=Velmi přizpůsobivá a efektivní výuka psaní na stroji.
Comment[da]=Et meget fleksibelt og effektivt værktøj til øvelse af maskinskrivning.
Comment[de]=Ein sehr flexibles und effizientes Programm zum Erlernen des Tastschreibens.
Comment[el]=Ένα πολύ ευέλικτο και αποτελεσματικό εκπαιδευτικό λογισμικό δακτυλογραφίας
Comment[eo]=Tre fleksebla kaj efika instruilo por tajpado.
Comment[eu]=Ukitze-mekanografia ikasteko oso tutorial malgu eta eraginkorra.
Comment[fr]=Un logiciel d'apprentissage de la dactylographie très souple et efficace.
Comment[gl]=Un titor de mecanografía moi flexíbel e eficiente.
Comment[hr]=Vrlo prilagodljiv i efikasan program za učenje tipkanja.
Comment[hu]=Nagyon rugalmas és hatékony gépírásoktató program
Comment[id]=Tutorial mengetik yang sangat fleksibel dan efisien.
Comment[it]=Un programma per imparare ad usare la tastiera molto flessibile ed efficiente.
Comment[nl]=Een zeer flexibel en efficiënt typelesprogramma.
Comment[pa]=ਇੱਕ ਬਹੁਤ ਹੀ ਕੋਮਲ ਅਤੇ ਨਿਪੁੰਨ ਟੱਚ ਟਾਈਪਿੰਗ ਸਿਖਿੱਅਕ।
Comment[pl]=Bardzo elastyczny i skuteczny nauczyciel pisania na klawiaturze.
Comment[pt_BR]=Tutorial para digitação muito flexível e eficiente.
Comment[pt_PT]=Um tutor de dactilografia muito eficiente e flexível.
Comment[ro]=Un tutor de dactilografiere cu ajutorul tastaturii foarte flexibil și eficient.
Comment[ru]=Легко приспособляемый и эффективный клавиатурный тренажёр.
Comment[sl]=Zelo prilagodljiv in učinkovit program za učenje tipkanja.
Comment[sr]=Врло прилагодљив и ефикасан учитељ куцања.
Comment[sv]=En mycket flexibel och effektiv tangentbordstränare.
Comment[tr]=Çok esnek ve verimli bir klavyeye bakmadan yazma öğretmeni.
Comment[uk]=Дуже гнучка та ефективна програма для навчання набору наосліп
Comment[vi]=Đây là một chương trình dạy cách gõ bàn phím máy tính rất mềm dẻo và hiệu quả.
# Translators: these are keywords related to the program. CAI above means Computer Aided Instruction. Feel free to add and/or change the keywords in your language.
Keywords=keyboard;typing;tutor;CAI;
Keywords[ar]=keyboard;typing;tutor;CAI;type;لوحة المفاتيح;الكتابة;الكتابة باللمس;
Keywords[bo]=ཡིག་འཇུག;མཐེབ་སྒྲོམ།;སྦྱོང་བརྡར།;CAI;
Keywords[ca]=keyboard;typing;tutor;CAI;
Keywords[cs]=klávesnice;psaní;psací stroj;na psacím stroji;výuka;učení;CUI;
Keywords[da]=tastatur;blindskrift;øvelse;CAI;maskinskrivning;værktøj;
Keywords[de]=keyboard;typing;tutor;CAI;
Keywords[el]=πληκτρολόγιο;πληκτρολόγηση;εκπαίδευση;keyboard;typing;tutor;CAI;
Keywords[eo]=tajpado;instruilo;gvidilo;ekzercilo;
Keywords[eu]=giltzadia;mekanografiatzen;CAI;
Keywords[fr]=clavier;dactylographie;tuteur;EAS;
Keywords[gl]=teclado;mecanografía;titor;CAI;
Keywords[hr]=tipkovnica;tipkanje;mentor;CAI;NPR;
Keywords[hu]=billentyűzet;gépelés;oktató;gépírás;CAI;
Keywords[it]=tastiera;digitazione;tutor;digitare;
Keywords[nl]=toetsenbord;typen;blindtypen;typeles;lesprogramma;CAI;
Keywords[pa]=ਕੀਬੋਰਡ:ਟਾਈਪਿੰਗ:ਸਿਖਿੱਅਕ:CAI;
Keywords[pl]=klawiatura;pisanie na klawiaturze;nauczyciel;CAI;
Keywords[pt_BR]=teclado;digitação;tutorial;CAI;aprendizado;
Keywords[ru]=клавиатура;набор;тренажёр;
Keywords[sl]=tipkovnica;tipkanje;tutor;računalniško podprto učenje;
Keywords[sr]=тастатура;куцање;учење;учитељ;КАИ;
Keywords[sv]=tangentbord;skriva;lära;CAI;
Keywords[uk]=клавіатура;друк;швидкісний;набір;навчання;уроки;keyboard;typing;tutor;CAI;
Keywords[vi]=bàn phím;bàn;phím;ban phim;ban;phim;luyện gõ;luyện;luyen;gõ;go;dạy;keyboard;typing;tutorial;CAI;

Exec=klavaro
Icon=klavaro
Terminal=false
Type=Application
Categories=Typewriting;
StartupNotify=true
