Source: lernstick-hplip-gui
Section: admin
Priority: extra
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-hplip-gui
Architecture: any
Depends: hplip-gui
Description: Removes some of the hplip-gui menu entries
 We do not need all hplip-gui menu entries.
 This package removes them.
