Source: lernstick-shotwell
Section: gnome
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-shotwell
Architecture: all
Depends: shotwell
Description: Hides shotwell when running KDE
 We hide shotwell when running KDE as we already have digikam there.
