Source: lernstick-fritzing
Section: electronics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-fritzing
Architecture: all
Depends: fritzing, libngspice0-dev
Description: Changes the fritzing destkop file.
 We add a German translation of the generic name. We also remove the category
 "Electronics" because the KDE start menu is too short for another category and
 unfortunately its size is hardcoded. We also add a dependency to
 libngspice0-dev so that the simulation doesn't crash.
