[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Time Tracking Overview
Name[as]=সময় অনুকৰণ অভাৰভিউ
Name[be]=Агляд Трэкера часу
Name[bg]=Преглед на отчитането на времето
Name[ca]=Vista general del comptador de temps
Name[ca@valencia]=Vista general del comptador de temps
Name[cs]=Přehled sledování času
Name[da]=Tidsstyringsoversigt
Name[de]=Zeiterfassungsübersicht
Name[el]=Επισκόπηση καταγραφής χρόνου
Name[en_GB]=Time Tracking Overview
Name[eo]=Tempo-ŝanĝospurila superrigardo
Name[es]=Vista previa del Gestor de tiempo
Name[et]=Ajajälgija ülevaade
Name[eu]=Denboraren jarraipenaren aurkezpen orokorra
Name[fr]=Résumé de la gestion du temps
Name[gl]=Vista previa do Xestor de tempo
Name[he]=סקירת מעקב הזמן
Name[hu]=Időnyilvántartás áttekintése
Name[id]=Ringkasan Pelacakan Waktu
Name[it]=Riepilogo conteggio tempo
Name[ja]=タイムトラッカーの概要
Name[ko]=시간 추적 개요
Name[lt]=Laiko sekimo apžvalga
Name[lv]=Laika uzskaites pārskats
Name[mk]=Преглед на следењето на времето
Name[nb]=Oversikt over tidsporing
Name[pa]=ਟਾਈਮ ਟਰੈਕਰ ਸਾਰ
Name[pl]=Okno podglądu zarządzania czasem
Name[pt]=Resumo do Registo de Horas
Name[pt_BR]=Visão geral do gestor de tempo
Name[ru]=Обзор учёта времени
Name[sl]=Pregled časovnega sledenja
Name[sr]=Преглед праћења времена
Name[sr@latin]=Pregled praćenja vremena
Name[sv]=Översikt för Tidmätare
Name[ta]=நேரத் தடம் தொடர்வி மேலோட்டம்
Name[te]=సమయం ట్రాక్‌చేసే పరిశీలన
Name[uk]=Перегляд обліку часу
Name[zh_CN]=时间跟踪概要
Name[zh_HK]=時間追蹤概覽
Name[zh_TW]=時間追蹤概覽
Comment=The overview window of hamster time tracker
Comment[as]=hamster সময় অনুকৰকৰ অভাৰভিউ উইন্ডো
Comment[be]=Акно агляду Трэкера часу hamster
Comment[bg]=Прозорец за преглед на аплета за отчитане на времето
Comment[ca]=La finestra de la vista general del comptador de temps Hamster
Comment[ca@valencia]=La finestra de la vista general del comptador de temps Hamster
Comment[cs]=Okno s přehledem o sledování času Hamster
Comment[da]=Oversigtsvinduet for tidsstyringen
Comment[de]=Das Übersichtsfenster der Hamster-Zeiterfassung
Comment[el]=Το παράθυρο επισκόπησης της καταγραφής χρόνου hamster
Comment[en_GB]=The overview window of hamster time tracker
Comment[eo]=La superrigarda fenestro de hamster-tempo-ŝangospurilo
Comment[es]=La ventana de vista previa del Gestor de tiempo Hamster
Comment[et]=Hamstri ajajälgija ülevaateaken
Comment[eu]=Hamster denboraren jarraipenaren leihoaren aurkezpen orokorra
Comment[fr]=La fenêtre de résumé du gestionnaire de temps hamster
Comment[gl]=A xanela da vista previa do Xestor de tempo Hamster
Comment[he]=חלון הסקירה של תכנית מעקב הזמן Hamster
Comment[hu]=A Hamster időnyilvántartó áttekintés ablaka
Comment[id]=Jendela ringkasan pelacak waktu hamster
Comment[it]=La finestra di riepilogo di Conteggio tempo
Comment[ja]=ハムスター・タイムトラッカーの概要ウィンドウ
Comment[ko]=햄스터 타임 추적의 개요 창
Comment[lt]=Hamster laiko sekėjo apžvalgos langas
Comment[lv]=Hamster laika uzskaites programmas pārskata logs
Comment[mk]=Прозорец за преглед на следачот на време „hamster“
Comment[nb]=Oversiktsvindu for hamster tidsporing
Comment[pa]=ਹਮਸਟਰ ਸਮਾਂ ਟਰੈਕਰ ਦੀ ਸਾਰ ਵਿੰਡੋ
Comment[pl]=Okno podglądu programu do zarządzania czasem Hamster
Comment[pt]=A janela de resumo do registo de horas no hamster
Comment[pt_BR]=Janela da visão geral do gestor de tempo hamster
Comment[ru]=Окно с обзором учёта времени
Comment[sl]=Okno pregleda sledenja času
Comment[sr]=Прозор прегледа праћења времена вредног хрчка
Comment[sr@latin]=Prozor pregleda praćenja vremena vrednog hrčka
Comment[sv]=Översiktsfönstret för tidmätaren Hamster
Comment[ta]=ஹாம்ஸ்டர் நேரத்தட தொடர்வியின் மேலோட்ட சாளரம்
Comment[te]=హామ్ ష్టర్ సమయము ట్రాకర్ పెరిశీలన విండో
Comment[uk]=Попередній перегляд вікна обліку часу
Comment[zh_CN]=Hamster 时间跟踪器的概要窗口
Comment[zh_HK]=hamster 時間追蹤程式的概覽視窗
Comment[zh_TW]=hamster 時間追蹤程式的概覽視窗
Icon=hamster-applet
Exec=/usr/bin/hamster-time-tracker overview
Categories=GNOME;GTK;Utility;
NoDisplay=true
