[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Time Tracker
Name[af]=Tydregistreerder
Name[ar]=متتبع الوقت
Name[as]=সময় অনুসৰণ
Name[be]=Трэкер часу
Name[bg]=Отчитане на времето
Name[bn]=সময় অনুসরণ
Name[bn_IN]=সময় অনুসরণ
Name[ca]=Comptador de temps
Name[ca@valencia]=Comptador de temps
Name[cs]=Sledování času
Name[da]=Tidsstyring
Name[de]=Zeiterfassung
Name[el]=Καταγραφή χρόνου
Name[en@shaw]=𐑑𐑲𐑥 𐑑𐑮𐑨𐑒𐑼
Name[en_CA]=Time Tracker
Name[en_GB]=Time Tracker
Name[eo]=Tempo-ŝanĝospurilo
Name[es]=Gestor de tiempo
Name[et]=Ajajälgija
Name[eu]=Denboraren jarraipena
Name[fi]=Ajankäytön seuranta
Name[fr]=Gestionnaire de temps
Name[gl]=Xestor de tempo
Name[gu]=સમય શોધનાર
Name[he]=מעקב אחר הזמן
Name[hi]=टाइम ट्रेकर
Name[hu]=Időnyilvántartó
Name[id]=Pelacak Waktu
Name[it]=Conteggio tempo
Name[ja]=タイムトラッカー
Name[kn]=ಸಮಯದ ಟ್ರ್ಯಾಕರ್
Name[ko]=시간 추적
Name[lt]=Laiko apskaita
Name[lv]=Laika uzskaites programma
Name[mk]=Следач на времето
Name[ml]=സമയ നിരീക്ഷകന്‍
Name[mr]=वेळ मार्गनिर्देशक
Name[nb]=Tidsporing
Name[nl]=Tijdregistratie
Name[or]=ସମୟ ଅନୁସରଣ ପ୍ରଣାଳୀ
Name[pa]=ਟਾਈਮ ਟਰੈਕਰ
Name[pl]=Zarządzanie czasem
Name[pt]=Registo de Horas
Name[pt_BR]=Gestor de tempo
Name[ro]=Pontaj activități
Name[ru]=Учёт времени
Name[si]=කාල මානය
Name[sl]=Sledenje času
Name[sq]=Llogaritja e kohës
Name[sr]=Пратилац времена
Name[sr@latin]=Pratilac vremena
Name[sv]=Tidmätare
Name[ta]=நேரத் தடம் தேடல்
Name[te]=సమయం ట్రాక్‌చేయునది
Name[th]=ติดตามการใช้เวลา
Name[tr]=Zaman Takipçisi
Name[ug]=ۋاقىت ئىزلىغۇچى
Name[uk]=Облік часу
Name[vi]=Theo dõi Thời gian
Name[zh_CN]=时间跟踪器
Name[zh_HK]=時間追蹤程式
Name[zh_TW]=時間追蹤程式
Comment=Project Hamster - track your time
Comment[af]=Projek Hamster - Tydregistreerder
Comment[ar]=مشروع هامستر - تتبع وقتك
Comment[as]=Project Hamster - আপোনাৰ সময় অনুসৰণ কৰক
Comment[be]=Праект Hamster - адсочванне свайго часу
Comment[bg]=Проект Хамстер — отчитане на времето
Comment[ca]=Projecte Hamster: controleu el temps
Comment[ca@valencia]=Projecte Hamster: controleu el temps
Comment[cs]=Projekt Hamster - sledujte svůj čas
Comment[da]=Projekt Hamster - få styr på din tid
Comment[de]=Projekt Hamster - Erfassen Sie Ihre Zeit
Comment[el]=Hamster - καταγράψτε το χρόνο σας
Comment[en_CA]=Project Hamster - track your time
Comment[en_GB]=Project Hamster — track your time
Comment[eo]=Projekto Hamster - ŝanĝospuru vian tempon
Comment[es]=Proyecto Hamster: gestione su tiempo
Comment[et]=Projektihamster - ajajälgija
Comment[eu]=Hamster proiektua - zure denboraren jarraipena
Comment[fr]=Projet Hamster - Gérez votre emploi du temps
Comment[gl]=Proxecto Hamster - xestione o seu tempo
Comment[gu]=પ્રોજેક્ટ Hamster — તમારો સમય શોધો
Comment[he]=מיזם Hamster — מעקב אחר הזמן שלך
Comment[hu]=Hamster projekt – időnyilvántartó
Comment[id]=Proyek Hamster - melacak waktu kegiatan Anda
Comment[it]=Tiene traccia del tempo trascorso nello svolgere delle attività
Comment[ja]=プロジェクト・ハムスター - 時間を記録
Comment[ko]=프로젝트 햄스터 - 시간 추적
Comment[lt]=Hamster projektas – sekite savo laiką
Comment[lv]=Projekts Hamster - seko līdzi laikam
Comment[mk]=Проектот Hamster - следете го трошењето на Вашето време
Comment[nb]=Prosjekt Hamster - følg med på din tidsbruk
Comment[nl]=Project Hamster — uw tijd bijhouden
Comment[or]=ପ୍ରକଲ୍ପ Hamster - ନିଜ ସମୟର ଅନୁସରଣ କରନ୍ତୁ
Comment[pa]=ਪਰੋਜੈਕਟ ਹਮਸਟਰ - ਆਪਣਾ ਸਮਾਂ ਟਰੈਕ ਕਰੋ
Comment[pl]=Projekt Hamster - zarządzanie czasem
Comment[pt]=Projecto Hamster - registe as suas horas
Comment[pt_BR]=Projeto Hamster - gerencie seu tempo
Comment[ro]=Proiectul Hamster - pontați-vă activitățile
Comment[ru]=Проект Hamster — следите за временем
Comment[sl]=Projekt Hamster - sledenje času
Comment[sr]=Пројекат Вредни хрчак - пратите ваше време
Comment[sr@latin]=Projekat Vredni hrčak - pratite vaše vreme
Comment[sv]=Hamster-projektet - mät din tid
Comment[ta]=ஹாம்ஸ்டர் திட்டம் - உங்கள் நேரத்தை கண்காணிக்க
Comment[te]=ప్రోజెక్టు హామ్‌స్టర్ - మీ సమయము ట్రాక్ చేయును
Comment[th]=โครงการ Hamster - ติดตามการใช้เวลาของคุณ
Comment[tr]=Proje Hamster - zamanınızı takip edin
Comment[ug]=Hamster قۇرۇلۇشى - ۋاقتىڭىزنى ئىزلاڭ
Comment[uk]=Проект Hamster — слідкуй за своїм часом
Comment[vi]=Dự án Hamster — theo dõi thời gian làm
Comment[zh_CN]=Hamster 项目 - 跟踪您的时间
Comment[zh_HK]=Project Hamster - 追蹤你的時間
Comment[zh_TW]=Project Hamster - 追蹤您的時間
Icon=hamster-applet
Exec=/usr/bin/hamster-time-tracker
Categories=GNOME;GTK;Utility;
OnlyShowIn=GNOME;
