[Desktop Entry]
Comment=screencast
Exec=vokoscreen
Icon=vokoscreen
Name=vokoscreen
GenericName=Screencast creator
GenericName[de]=Screencast-Erstellung
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
Keywords=Audio;Video;Recorder;Screencast;
