[Desktop Entry]
Type=Application
Name=BlockOut II
Comment=Play a 3D Tetris game
Comment[de]=Spiele Tetris in 3D
Icon=blockout2
Exec=blockout2
Terminal=false
Categories=Game;ArcadeGame;
Keywords=tetris;blocks;logic;
