Source: lernstick-zenmap
Section: net
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-zenmap
Architecture: all
Depends: zenmap
Description: Changes the menu entry of zenmap
 We remove the unnecessary "GUI" prefix from the GenericName, add a German
 translation of the GenericName and execute zenmap via sudo.
