Source: lernstick-zenmap
Section: net
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-zenmap
Architecture: all
Depends: zenmap
Description: Changes the menu entry of zenmap
 The desktop file of zenmap is completely foobar, we fix this.
