Source: lernstick-dconf-editor
Section: utils
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-dconf-editor
Architecture: all
Depends: dconf-editor
Description: Changes the menu entry of dconf-editor
 We show dconf-editor only in GNOME, Cinnamon and MATE
