[Desktop Entry]
Version=1.0
Name=BKchem
GenericName=Molecule editor
GenericName[de]=Moleküleditor
Comment=Edit chemical structures and reactions
Type=Application
Exec=bkchem %U
Icon=bkchem
Categories=Education;Science;Chemistry;
MimeType=image/svg+xml;image/svg+xml-compressed;application/x-cdml+xml;application/x-cdml+xml-compressed;
