Source: lernstick-gparted
Section: gnome
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-gparted
Architecture: all
Depends: gparted
Description: Changes the gparted desktop file
 We hide gparted when running a KDE session as we have partitionmanager there.
 We also add a polkit rule to be able to run it without a root password.
