Source: lernstick-libreoffice-common
Section: editors
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-libreoffice-common
Architecture: all
Depends: lernstick-libreoffice, libreoffice-common
Description: Adds a wrapper srcipt to prevent timeouts with LanguageTool server
 We use a wrapper script to prevent timeouts with LanguageTool server.
