Source: lernstick-xfce4-mixer
Section: xfce
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-xfce4-mixer
Architecture: all
Depends: xfce4-mixer
Description: Shows xfce4-mixer only when running XFCE
 We show xfce4-mixer only when running an XFCE session.
