[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/games/etoys
Icon=etoys
Terminal=false
Name=Etoys
Comment= A media-rich model, simulation construction kit and authoring tool
Comment[es_ES]=Herramienta multimedia de simulación y creación de contenidos
Categories=Development;
