Source: lernstick-systemsettings
Section: kde
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-systemsettings
Architecture: all
Depends: systemsettings
Description: Shows systemsettings only in KDE
 We show the menu entry of systemsettings only in KDE. Other desktop
 environments have their own programs for system settings.
