Source: lernstick-gnome-sudoku
Section: games
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-gnome-sudoku
Architecture: all
Depends: gnome-sudoku
Description: Don't show gnome-sudoku when running KDE
 We hide gnome-sudoku when running a KDE session. We already have ksudoku there.
