[Desktop Entry]
Name=Desktop Search
Name[ar]=بحث سطح المكتب
Name[ca]=Cerca a l'escriptori
Name[ca@valencia]=Cerca a l'escriptori
Name[cs]=Prohledávání pracovního prostředí
Name[da]=Skrivebordssøgning
Name[de]=Desktop-Suche
Name[el]=Αναζήτηση επιφάνειας εργασίας
Name[en_GB]=Desktop Search
Name[es]=Búsquedas de Escritorio
Name[eu]=Mahaigaineko bilaketa
Name[fi]=Työpöytähaku
Name[fr]=Recherche sur cet ordinateur
Name[gl]=Buscas de escritorio
Name[hu]=Asztali keresés
Name[id]=Pencarian Desktop
Name[it]=Ricerca desktop
Name[ja]=デスクトップの検索
Name[ko]=데스크톱 검색
Name[lt]=Darbastalio paieška
Name[lv]=Darbvirsmas meklēšana
Name[ml]=പണിയിട തെരച്ചില്‍
Name[nb]=Skrivebordssøk
Name[nl]=Bureaubladzoeken
Name[pl]=Wyszukiwanie na pulpicie
Name[pt_BR]=Pesquisa na área de trabalho
Name[ro]=Căutare pe desktop
Name[ru]=Поиск данных
Name[sk]=Hľadanie v prostredí
Name[sl]=Namizno iskanje
Name[sr]=Претрага радне површи
Name[sr@latin]=Pretraga radne površi
Name[sv]=Skrivbordssökning
Name[te]=డెస్క్‍టాప్ శోధన
Name[tr]=Masaüstü Araması
Name[uk]=Пошук даних
Name[zh_CN]=桌面搜索
Name[zh_HK]=桌面搜尋
Name[zh_TW]=桌面搜尋
Comment=Find what you're looking for on this computer by name or content using Tracker
Comment[ar]=اعثر على ما تبحث عنه في هذا الحاسوب بالاسم أو المحتوى مستخدما المُقتفي
Comment[ca]=Trobeu el que esteu buscant a l'ordinador ja sigui per nom o pel seu contingut utilitzant el Tracker
Comment[ca@valencia]=Trobeu el que esteu buscant a l'ordinador ja siga per nom o pel seu contingut utilitzant el Tracker
Comment[cs]=Nalézt to, co hledáte, na tomto počítači podle názvu nebo obsahu pomocí vyhledávače Tracker
Comment[da]=Find det du leder efter på denne computer ud fra navn eller indhold med Tracker
Comment[de]=Tracker erlaubt es, auf diesem Rechner nach dem Namen oder Inhalten suchen
Comment[el]=Βρείτε ό,τι ψάχνετε σε αυτόν τον υπολογιστή κατα όνομα ή περιεχόμενο χρησιμοποιώντας τον Tracker
Comment[en_GB]=Find what you're looking for on this computer by name or content using Tracker
Comment[es]=Encuentre lo que está buscando por nombre o contenido en este equipo usando Tracker
Comment[eu]=Bilatu nahi duzuna ordenagailu honetan izenaren edo edukiaren arabera Tracker erabiliz
Comment[fi]=Löydä etsimäsi nimen tai sisällön perusteella käyttäen Trackeria
Comment[fr]=Trouver ce que vous cherchez sur cet ordinateur par son nom ou son contenu en utilisant Tracker
Comment[gl]=Atope o que está buscando por nome o contido neste equipo usando Tracker
Comment[hu]=Keresett fájlok megtalálása a számítógépen név vagy tartalom szerint a Tracker segítségével
Comment[id]=Temukan apa yang Anda cari pada komputer ini berdasarkan nama atau isi memakai Pelacak
Comment[it]=Individua con Tracker ciò che cerchi su questo computer per nome o contenuto
Comment[ja]=Tracker を使い名前や内容でコンピューター上のドキュメントやフォルダーの場所を検索します
Comment[ko]=트래커를 사용하여 여러분이 이 컴퓨터에서 찾아볼 내용을 이름이나 파일 내용으로 찾으세요
Comment[lt]=Naudodami Tracker rasite kompiuteryje dokumentus ir aplankus pagal pavadinimą arba turinį
Comment[lv]=Atrodi savā datorā vajadzīgo pēc nosaukuma vai satura, izmantojot Tracker
Comment[nb]=Finn det du leter etter på denne datamaskinen med navn eller innhold ved bruk av Tracker
Comment[nl]=Doorzoek deze computer op naam of inhoud met behulp van Tracker
Comment[pl]=Wyszukiwanie na tym komputerze według nazwy lub treści używając programu Tracker
Comment[pt_BR]=Localize o que você está procurando neste computador por nome ou conteúdo usando o Tracker
Comment[ro]=Găsiți ceea ce căutați pe acest computer după nume sau conținut folosind Tracker
Comment[ru]=Поиск данных по имени или содержимому с помощью Tracker
Comment[sk]=Pomocou sledovača nájdete to, čo hľadáte v tomto počítači podľa názvu alebo obsahu
Comment[sl]=Poiščite kar iščete na tem računalniku po imenu ali vsebini z uporabo Trackerja
Comment[sr]=Пронађите оно што тражите на овом рачунару према називу или садржају користећи Трагача
Comment[sr@latin]=Pronađite ono što tražite na ovom računaru prema nazivu ili sadržaju koristeći Tragača
Comment[sv]=Sök efter det du letar efter på denna dator efter namn eller innehåll med Tracker
Comment[uk]=Пошук даних на цьому комп’ютері за ім’ям або вмістом за допомогою Tracker
Comment[zh_CN]=在计算机上用 Tracker 按名称或内容查找需要的内容
Comment[zh_HK]=使用 Tracker 根據名稱或內容找出你在這臺電腦上要找的東西
Comment[zh_TW]=使用 Tracker 依名稱或內容找出您在這臺電腦上要找的東西
Exec=tracker-needle
Icon=system-search
Terminal=false
Type=Application
Categories=GTK;Utility;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Tracker Needle
X-GNOME-Bugzilla-Version=1.2.4
OnlyShowIn=GNOME;
