Source: lernstick-synaptic
Section: admin
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-synaptic
Architecture: all
Depends: synaptic
Description: Changes the menu entry of synaptic
 We remove synaptic from the categories "System" and "Settings". It is already
 in the category "PackageManager" and this should be sufficient.
