Source: lernstick-totem
Section: video
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-totem
Architecture: all
Depends: totem
Description: Changes the menu entry of Totem
 We hide Totem in KDE. There are already enough media players there.
