[Desktop Entry]
Type=Application
Name[de]=GPaste-Einstellungen
Name[it]=Preferenze di GPaste
Name[ru]=Настройки GPaste
Name[tr]=GPaste Tercihleri
Name[zh_CN]=GPaste 首选项
Name[gl]=Preferencias do GPaste
Name=GPaste Preferences
Comment[de]=GPaste-Einstellungen verwalten
Comment[it]=Gestione preferenze di GPaste
Comment[ru]=Управляйте настройками GPaste
Comment[tr]=GPaste tercihlerinizi yönetin
Comment[zh_CN]=管理你的 GPaste 首选项
Comment[gl]=Xestione as preferencias do GPaste
Comment=Manage your GPaste preferences
Keywords[de]=Zwischenablage;Verwaltung;Einstellungen;Voreinstellungen;Konfiguration;
Keywords[es]=Portapapeles;Gestor;Configuración;Preferencias;Parámetros;
Keywords[fr]=Presse-Papier;Gestionnaire;Réglages;Préférences;Configuration;
Keywords[it]=Appunti;Manager;Impostazioni;Preferenze;Configurazione;
Keywords[nb_NO]=Utklippstavle:håndtering;innstillinger;oppsett;clipboard;
Keywords[nl_NL]=Klembord;Beheer;Instellingen;Voorkeuren;Configuratie;
Keywords[pl]=Schowek;Menadżer;Ustawienia;Preferencje;Konfiguracja;
Keywords[pt_BR]=Clipboard;Manager;Settings;Preferences;Configuration;Área de transferência;Gerenciador;Configurações;Preferências;
Keywords[ru]=Буфер обмена;Менеджер;Настройки;Предпочтения;Конфигурация;
Keywords[sv]=Urklipp;Hanterare;Inställningar;Inställningar;Konfiguration;
Keywords[tr]=Pano;Yönetici;Ayarlar;Tercihler;Yapılandırma;
Keywords[zh_CN]=剪切板;管理;设置;首选项;配置;
Keywords[gl]=Portapapeis;Xestor;Opcións;Preferencias;Configuración;
Keywords=Clipboard;Manager;Settings;Preferences;Configuration;
Icon=edit-paste
Exec=/usr/libexec/gpaste/gpaste-preferences
DBusActivatable=true
Terminal=false
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
StartupNotify=true
NoDisplay=true
