[Desktop Entry]
Type=Application
Name[cs]=GPaste
Name[de]=GPaste
Name[es]=GPaste
Name[fr]=GPaste
Name[it]=GPaste
Name[nb_NO]=GPaste
Name[nl_NL]=GPaste
Name[pl]=GPaste
Name[pt_BR]=GPaste
Name[ru]=GPaste
Name[sl]=GPaste
Name[sv]=GPaste
Name[tr]=GPaste
Name[zh_CN]=GPaste
Name[zh_Hant]=GPaste
Name[gl]=GPaste
Name=GPaste
Comment[cs]=Správa historie schránky
Comment[de]=Die Chronik der Zwischenablage verwalten
Comment[es]=Gestione el histórico de su portapapeles
Comment[fr]=Gérez l'historique de votre presse-papier
Comment[it]=Gestisci la cronologia degli appunti
Comment[nb_NO]=Håndter din utklippstavlehistorikk
Comment[nl_NL]=Beheer uw klembordgeschiedenis
Comment[pl]=Zarządzaj historią swojego schowka
Comment[pt_BR]=Gerencie seu histórico da área de transferência
Comment[ru]=Управляйте историей буфера обмена
Comment[sl]=Upravljanje z zgodovino odložišča
Comment[sv]=Hantera din urklippshistorik
Comment[tr]=Pano geçmişinizi yönetin
Comment[zh_CN]=管理你的剪切板记录
Comment[zh_Hant]=管理您的剪貼簿歷史
Comment[gl]=Xestione o historial do portapapeis
Comment=Manage your clipboard history
Keywords[de]=Zwischenablage;Verwaltung;Einstellungen;Voreinstellungen;Konfiguration;
Keywords[es]=Portapapeles;Gestor;Configuración;Preferencias;Parámetros;
Keywords[fr]=Presse-Papier;Gestionnaire;Réglages;Préférences;Configuration;
Keywords[it]=Appunti;Manager;Impostazioni;Preferenze;Configurazione;
Keywords[nb_NO]=Utklippstavle:håndtering;innstillinger;oppsett;clipboard;
Keywords[nl_NL]=Klembord;Beheer;Instellingen;Voorkeuren;Configuratie;
Keywords[pl]=Schowek;Menadżer;Ustawienia;Preferencje;Konfiguracja;
Keywords[pt_BR]=Clipboard;Manager;Settings;Preferences;Configuration;Área de transferência;Gerenciador;Configurações;Preferências;
Keywords[ru]=Буфер обмена;Менеджер;Настройки;Предпочтения;Конфигурация;
Keywords[sv]=Urklipp;Hanterare;Inställningar;Inställningar;Konfiguration;
Keywords[tr]=Pano;Yönetici;Ayarlar;Tercihler;Yapılandırma;
Keywords[zh_CN]=剪切板;管理;设置;首选项;配置;
Keywords[gl]=Portapapeis;Xestor;Opcións;Preferencias;Configuración;
Keywords=Clipboard;Manager;Settings;Preferences;Configuration;
Icon=edit-paste
Exec=/usr/libexec/gpaste/gpaste-ui
DBusActivatable=true
Terminal=false
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
StartupNotify=true
NoDisplay=true
