Source: lernstick-trigger-rally
Section: games
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-trigger-rally
Architecture: all
Depends: trigger-rally
Description: Shows trigger only in Arcade section
 We show trigger only in Arcade section
