[Desktop Entry]
Name[be]=Reversi
Name[bg]=Отело
Name[ca]=Reversi
Name[ca@valencia]=Reversi
Name[cs]=Reversi
Name[da]=Reversi
Name[de]=Reversi
Name[el]=Reversi
Name[en_GB]=Reversi
Name[eo]=Reverso
Name[es]=Reversi
Name[eu]=Reversi
Name[fa]=ریورسی
Name[fi]=Reversi
Name[fr]=Reversi
Name[fur]=Reversi
Name[gl]=Reversi
Name[he]=הפוך אותי
Name[hr]=Reversi
Name[hu]=Reversi
Name[id]=Reversi
Name[is]=Reversi borðleikur
Name[it]=Reversi
Name[ja]=リバーシ
Name[kk]=Реверси
Name[ko]=리버시
Name[lt]=Reversi
Name[lv]=Reversi
Name[ms]=Reversi
Name[nb]=Reversi
Name[ne]=रिभर्सी
Name[nl]=Reversi
Name[oc]=Reversi
Name[pl]=Reversi
Name[pt]=Reversi
Name[pt_BR]=Reversi
Name[ro]=Reversi
Name[ru]=Реверси
Name[sk]=Reversi
Name[sl]=Reversi
Name[sr]=Реверси
Name[sr@latin]=Reversi
Name[sv]=Reversi
Name[tr]=Reversi
Name[uk]=Реверсі
Name[zh_CN]=黑白棋
Name[zh_TW]=黑白棋
Name=Reversi
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[eo]=org.gnome.Reversi
Icon[lv]=org.gnome.Reversi
Icon[zh_TW]=org.gnome.Reversi
Icon=org.gnome.Reversi
# Translators: a GenericName that gives the application goal, as defined in the desktop file spec
GenericName[be]=Reversi
GenericName[bg]=Отело
GenericName[ca]=Reversi
GenericName[ca@valencia]=Reversi
GenericName[cs]=Reversi
GenericName[da]=Reversi
GenericName[de]=Reversi
GenericName[el]=Reversi
GenericName[en_GB]=Reversi
GenericName[eo]=Reverso
GenericName[es]=Reversi
GenericName[eu]=Reversi
GenericName[fa]=ریورسی
GenericName[fi]=Reversi
GenericName[fr]=Reversi
GenericName[fur]=Reversi
GenericName[gl]=Reversi
GenericName[he]=הפוך אותי
GenericName[hr]=Reversi
GenericName[hu]=Reversi
GenericName[id]=Reversi
GenericName[is]=Reversi borðleikur
GenericName[it]=Reversi
GenericName[ja]=リバーシ
GenericName[kk]=Реверси
GenericName[ko]=리버시
GenericName[lt]=Reversi
GenericName[lv]=Reversi
GenericName[ms]=Reversi
GenericName[nb]=Reversi
GenericName[ne]=रिभर्सी
GenericName[nl]=Reversi
GenericName[oc]=Reversi
GenericName[pl]=Reversi
GenericName[pt]=Reversi
GenericName[pt_BR]=Reversi
GenericName[ro]=Reversi
GenericName[ru]=Реверси
GenericName[sk]=Reversi
GenericName[sl]=Reversi
GenericName[sr]=Реверси
GenericName[sr@latin]=Reversi
GenericName[sv]=Reversi
GenericName[tr]=Reversi
GenericName[uk]=Реверсі
GenericName[zh_CN]=黑白棋
GenericName[zh_TW]=黑白棋
GenericName=Reversi
# Translators: a Comment that gives the application function, as defined in the desktop file spec
Comment[af]=Domineer die bord in 'n klassieke weergawe van Reversi
Comment[an]=Domine o tablero en una versión clasica de Reversi
Comment[ar]=سيطر على الطاولة في إصدار تقليدي من ريفيرسي
Comment[as]=সৰ্বমোট
Comment[ast]=Domina'l tableru nuna versión clásica de Reversi
Comment[be]=Дамінуйце на дошцы ў класічнай гульні Reversi
Comment[bg]=Тотална доминация с играта „Отело“
Comment[bn]=Reversi-র কোনো ক্লাসিক সংস্করণে বোর্ডটিকে বিশিষ্ট হওয়া থেকে বিরত রাখা হবে
Comment[bs]=Kontrolišite ploču u klasičnoj verziji igre Reversi
Comment[ca]=Domineu el tauler en una versió clàssica del Reversi
Comment[ca@valencia]=Domineu el tauler en una versió clàssica del Reversi
Comment[cs]=Ovládněte hrací desku v klasické verzi hry Reversi
Comment[cy]=Cipio'r bwrdd mewn gêm safonol o Reversi
Comment[da]=Overtag spillebrættet i en klassisk version af Reversi
Comment[de]=Einen Wettstreit um die Brettherrschaft in einer klassischen Variante von Reversi führen
Comment[dz]=རི་བར་སི་གི་ སྔོན་སྲོལ་ཐོན་རིམ་ཐོག་ལུ་ རྩེད་པང་དེ་ གཙོ་བོར་བཟུང་།
Comment[el]=Κυριαρχήστε στον πίνακα με μια κλασσική έκδοση του Reversi
Comment[en_CA]=Dominate the board in a classic version of Reversi
Comment[en_GB]=Dominate the board in a classic version of Reversi
Comment[eo]=Dominu la tabulon en klasika versio de Reverso
Comment[es]=Domine el tablero en una versión clásica de Reversi
Comment[et]=Mägulaual ülekaalu saavutamine klassikalise mängus Reversi
Comment[eu]=Menderatu taula Reversi-ren bertsio klasikoan
Comment[fa]=با نگارش کلاسیکی از رورسی مالک صفحه شوید
Comment[fi]=Hallitse pöytää Reversin klassisessa muodossa
Comment[fr]=Conquérir le plateau dans une version classique du Reversi
Comment[fur]=Domine la taule intune version classiche di Reversi
Comment[gl]=Domine o taboleiro nunha versión clásica do Reversi
Comment[gu]=Reversi ની શાસ્ત્રિય આવૃત્તિમાં બોર્ડને ડોમીનેટ કરો
Comment[he]=נסו לשלוט על כל הלוח במשחק ריברסי קלסי
Comment[hi]=क्लासिक रिवर्सी के संस्करण से बोर्ड डामिनेट रखें
Comment[hr]=Dominirajte pločom u klasičnoj inačici Reversia
Comment[hu]=Uralja a táblát a Reversi klasszikus változatában
Comment[id]=Dominasi papan dengan versi klasik Reversi
Comment[is]=Gerast konungur borðsins í klassískri útgáfu af Reversi
Comment[it]=Domina la tavola in una versione classica di Reversi
Comment[ja]=有名なリバーシの古典版で盤上を支配してください
Comment[kk]=Реверси классикалық нұсқасында тақтаға үстемдік ету
Comment[km]=ក្ដារ​នៅ​ក្នុង​កំណែ​ classic របស់ Reversi
Comment[kn]=ರಿವಾರ್ಸಿಯ ಒಂದು ಸಾಂಪ್ರದಾಯಿಕ ಆವೃತ್ತಿಯೊಂದಿಗೆ ಬೋರ್ಡನ್ನು ಗೆಲ್ಲಿ
Comment[ko]=리버시 게임의 전통적인 버전에서 보드를 차지합니다
Comment[ky]=Реверсинин классикалык версиясынан тактаны басып алыңыз
Comment[lt]=Užimkite lentą klasikiniame Reversi variante
Comment[lv]=Dominē gadu klasiskajā Reversi spēles variācijā
Comment[mai]=चिरसम्मत Reversi क' संस्करणमे बोर्ड पर दबाव राखू
Comment[mk]=Доминирајте ја таблата со класична верзија на Reversi
Comment[ml]=റിവേര്‍സൈയുടെ ഒരു ക്ളാസ്സിക്ക് വേര്‍ഷനില്‍ ചതുരങ്ങളെ കീഴടക്കുക 
Comment[mr]=रिव्हर्सिच्या एका क्लासिक आवृत्तीच्या पटावर अधिकार जमवा
Comment[ms]=Dominasi papan dalam versi klasik Reversi
Comment[nb]=Dominer brettet i den klassiske versjonen av Reversi
Comment[ne]=रिभर्सीका पुराना संस्करणका बोर्ड उपेक्षा गर्नुहोस्
Comment[nl]=Domineer het bord in een klassieke versie van Reversi
Comment[nn]=Dominer brettet i den klassiske versjonen av Reversi
Comment[oc]=Conquerir lo platèu dins una version classica del Reversi
Comment[or]=ରିଭର୍ସିର ଗୋଟିଏ ସର୍ବୋତ୍କୃଷ୍ଟ ଭାଷାନ୍ତରରେ ବୋର୍ଡରେ ଆଧିପତ୍ଯ ବିସ୍ତାର କର
Comment[pa]=ਰਿਵਿਰਸੀ ਦੇ ਟਕਸਾਲੀ ਵਰਜਨ ਵਿੱਚ ਬੋਰਡ ਵੇਖੋ
Comment[pl]=Opanuj planszę w klasycznej wersji Reversi
Comment[pt]=Domine o tabuleiro numa versão clássica do Reversi
Comment[pt_BR]=Domine o tabuleiro em uma versão clássica do Reversi
Comment[ro]=Dominați tabla de joc într-o versiune clasică de Reversi
Comment[ru]=Захватите доску в классическом варианте Реверси
Comment[sk]=Ovládnite hracie pole v klasickej hre podobnej Reversi
Comment[sl]=Nadzor nad igralno ploščo pri znani igri Reversi.
Comment[sr]=Освојите већи део табле у класичном издању игре Реверси
Comment[sr@latin]=Osvojite veći deo table u klasičnom izdanju igre Reversi
Comment[sv]=Dominera brädet i en klassisk version av Reversi
Comment[ta]=\sரிவர்சியிலிருந்து ஒரு வட்டு-மாற்று விளையாட்டில் பலகையை ஆட்சி செய்யுங்கள்.
Comment[te]=బోర్డును రివర్సీ యొక్క క్లాసిక్ వర్షన్ నందు ప్రభలపరచుము
Comment[th]=ครอบครองกระดานในเกม Reversi ตามแบบฉบับ
Comment[tr]=Tahtayı Reversi’nin klasik sürümünde gör
Comment[ug]=كلاسسىك نەشردىكى Reversi ئارقىلىق تاختىغا ھۆكۈمرانلىق قىلىش
Comment[uk]=Домінувати на дошці у класичній версії Реверсі
Comment[vi]=Thống trị bảng trong trò chơi kiểu Reversi cổ điển
Comment[zh_CN]=在经典版本的黑白棋中占领盘面
Comment[zh_HK]=經典版本的蘋果棋
Comment[zh_TW]=經典版本的黑白棋
Comment=Dominate the board in a classic version of Reversi
# Translators: some search Keywords to find this application, as defined in the desktop file spec. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=рэверсі;атэла;
Keywords[bg]=отело;реверси;дъска;пулове;reversi;othello;
Keywords[ca]=reversi; othello;
Keywords[ca@valencia]=reversi; othello;
Keywords[cs]=reversi;othello;
Keywords[da]=reversi;othello;
Keywords[de]=Reversi;Othello;Spiel;Brettspiel;
Keywords[el]=reversi;othello;
Keywords[en_GB]=reversi;othello;
Keywords[eo]=Reverso;Otelo;
Keywords[es]=reversi;othello;
Keywords[eu]=reversi;othello;
Keywords[fa]=reversi;othello;اوتلو;ریورسی;
Keywords[fi]=reversi;othello;
Keywords[fr]=reversi;othello;
Keywords[fur]=reversi;othello;iagno;
Keywords[gl]=reversi;othello;
Keywords[he]=הפוך אותי;רברסי;אותלו;
Keywords[hr]=reversi;otelo;
Keywords[hu]=reversi;othello;
Keywords[id]=reversi;othello;
Keywords[is]=reversi;othello;
Keywords[it]=reversi;othello;otello;
Keywords[ja]=reversi;othello;リバーシ;オセロ;
Keywords[kk]=reversi;othello;реверси;отелло;
Keywords[ko]=reversi;리버시;othello;오델로;
Keywords[lt]=reversi;othello;otelas;
Keywords[lv]=reversi;othello;
Keywords[ms]=reversi;othello;
Keywords[nb]=reversi;othello;
Keywords[nl]=reversi;othello;
Keywords[oc]=reversi;othello;
Keywords[pl]=reversi;othello;
Keywords[pt]=reversi;othello;otelo;
Keywords[pt_BR]=reversi;othello;
Keywords[ro]=reversi;othello;
Keywords[ru]=реверси;отелло;
Keywords[sk]=reversi;othello;
Keywords[sl]=reversi;otelo;
Keywords[sr]=реверси;отело;
Keywords[sr@latin]=reversi;otelo;
Keywords[sv]=reversi;othello;
Keywords[tr]=reversi;othello;
Keywords[uk]=реверсі;отелло;
Keywords[zh_CN]=othello;黑白棋;奥赛罗;
Keywords[zh_TW]=reversi;othello;黑白棋;
Keywords=reversi;othello;
Exec=iagno
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;BoardGame;
StartupNotify=true
DBusActivatable=true
NotShowIn=KDE;
