Source: lernstick-scribus
Section: graphics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-scribus
Architecture: all
Depends: scribus
Description: Uncomment the MimeType key in the desktop file
 We uncomment the MimeType key in the desktop file. Otherwise the "Open with..."
 context menu in file managers doesn't work with Scribus documents.
