Source: lernstick-scribus
Section: graphics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-scribus
Architecture: all
Depends: scribus
Description: Adds German translations to the scribus desktop file
 We add German translations to the desktop file of Scribus.
 This was reported upstream:
 https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=885449
