Source: lernstick-dolphin
Section: utils
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-dolphin
Architecture: all
Depends: dolphin
Description: Changes menu entries of dolphin
 Shows dolphin only in KDE.
