[Desktop Entry]
Type=Application
Version=1.0
Name[ar]=عارض الخطوط
Name[ca]=Visualitzador de lletres
Name[de]=Schriften-Betrachter
Name[eo]=Tiparmontrilo
Name[es]=Visor tipográfico
Name[fr]=Visionneuse de polices
Name[hr]=Preglednik fontova
Name[hu]=Betűkészletnéző
Name[id]=Penampil Font
Name[it]=Font Viewer
Name[ja]=フォントビューアー
Name[ko]=글꼴 뷰어
Name[nb_NO]=Skriftviser
Name[nl]=Lettertypeweergave
Name[pl]=Podgląd czcionek
Name[pt_BR]=Visualizador de Fontes
Name[ro]=Vizualizator fonturi
Name[ru]=Программа просмотра шрифтов
Name[sk]=Prehliadač písiem
Name[sl]=Pregledovalnik pisav
Name[sv]=Teckensnittsvisare
Name[ta]=எழுத்துரு பார்வையாளர்
Name[tr]=Yazı Tipi Görüntüleyici
Name[zh_CN]=字体查看器
Name[zh_TW]=字型檢視器
Name=Font Viewer
GenericName[ar]=عارض الخطوط
GenericName[ca]=Visualitzador de lletres
GenericName[de]=Schriften-Betrachter
GenericName[eo]=Tiparmontrilo
GenericName[es]=Visor tipográfico
GenericName[fr]=Visionneuse de polices
GenericName[hr]=Preglednik fontova
GenericName[hu]=Betűkészletnéző
GenericName[id]=Penampil Font
GenericName[it]=Font Viewer
GenericName[ja]=フォントビューアー
GenericName[ko]=글꼴 뷰어
GenericName[nb_NO]=Skriftviser
GenericName[nl]=Lettertypeweergave
GenericName[pl]=Podgląd czcionek
GenericName[pt_BR]=Visualizador de Fontes
GenericName[ro]=Vizualizator fonturi
GenericName[ru]=Программа просмотра шрифтов
GenericName[sk]=Prehliadač písiem
GenericName[sl]=Pregledovalnik pisav
GenericName[sv]=Teckensnittsvisare
GenericName[ta]=எழுத்துரு பார்வையாளர்
GenericName[tr]=Yazı Tipi Görüntüleyici
GenericName[zh_CN]=字体查看器
GenericName[zh_TW]=字型檢視器
GenericName=Font Viewer
Comment[ar]=برنامج استعراض ملفات الخطوط كامل المواصفات
Comment[de]=Voll funktionsfähige Anwendung zur Vorschau von Schriftdateien
Comment[eo]=Plenfunkcia programo por antaŭrigardi tiparajn dosierojn
Comment[es]=Completa aplicación para previsualizar archivos de tipos de letra
Comment[fr]=Application de prévisualisation de fichiers de police entièrement fonctionnelle
Comment[hr]=Program za pregled fontova s raznim funkcijama
Comment[hu]=Teljes értékű betűtípusfájl előnézeti alkalmazás
Comment[id]=Aplikasi pratinjau file font berfitur lengkap
Comment[it]=Applicazione completa per l'anteprima del tipo di carattere
Comment[ja]=フル機能のフォントファイルプレビューアプリケーション
Comment[ko]=모든 기능을 갖춘 글꼴 파일 미리보기 응용 프로그램
Comment[nl]=Lettertypevoorvertoning boordevol functies
Comment[pl]=Funkcjonalna aplikacja do podglądania plików czcionek
Comment[pt_BR]=Programa completo de visualização de arquivos de fontes
Comment[ro]=Aplicație completă de previzualizare a fișierului de fonturi
Comment[ru]=Полнофункциональная программа просмотра шрифтов
Comment[sk]=Plnohodnotná aplikácia na prehliadanie súborov písiem
Comment[sl]=Polno predstavljena aplikacija za predogled datotek pisav
Comment[sv]=Program för förhandsvisning av teckensnitt
Comment[ta]=முழு சிறப்பு எழுத்துரு கோப்பு முன்னோட்டம் பயன்பாடு
Comment[tr]=Tam özellikli yazı tipi dosyası önizleme uygulaması
Comment[zh_CN]=全功能字体文件预览应用程序
Comment[zh_TW]=功能完善的字型檔案預覽程式
Comment=Full featured font file preview application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.github.FontManager.FontManager
DBusActivatable=true
Exec=/usr/libexec/font-manager/font-viewer %u
Terminal=false
MimeType=font/ttf;font/ttc;font/otf;font/sfnt;application/x-font-ttf;application/x-font-otf;application/vnd.ms-opentype;
Categories=Utility;GTK;GNOME;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[de]=Grafik;Betrachter;GNOME;GTK;Publizieren;
Keywords[eo]=Grafiko;Montrilo;GNOME;GTK;Eldonado;Tiparo;
Keywords[es]=Gráficos;Visor;GNOME;GTK;Edición;
Keywords[fr]=Graphisme; Visionneuse; GNOME; GTK; Publication;
Keywords[hr]=Font;Preglednik;GNOME;GTK;Publiciranje;
Keywords[hu]=Grafika;Néző;GNOME;GTK;Kiadás;
Keywords[id]=Grafik;Penampil;GNOME;GTK;Publishing;
Keywords[it]=Graphics;Viewer;GNOME;GTK;Publishing;
Keywords[ja]=Graphics;Viewer;GNOME;GTK;Publishing;グラフィックス;ビューアー;ビュアー;ビューワー;GNOME;GTK;出版;
Keywords[ko]=Graphics;Viewer;GNOME;GTK;Publishing;그래픽;뷰어;그놈;출판;
Keywords[nl]=Grafisch;Weergave;GNOME;GTK;Publicatie;Beheer;Lettertype;Font;
Keywords[pl]=Grafika;Czcionki;Zarządzanie;GNOME;GTK;Publikowanie;
Keywords[pt_BR]=Gráficos;Visualizador;GNOME;GTK;Publicação;
Keywords[ro]=Grafică; Vizualizator; GNOME; GTK; Editare;
Keywords[ru]=Графика;Просмотр;GNOME;GTK;Издательство;
Keywords[sk]=Graphics;Viewer;GNOME;GTK;Publishing;
Keywords[sl]=Grafika; Pregledovalnik; GNOME; GTK; Založništvo;
Keywords[sv]=Grafik;Visare;GNOME;GTK;Publicering;
Keywords[ta]=கிராபிக்ச்; பார்வையாளர்; க்னோம்; சி.டி.கே; வெளியீடு;
Keywords[tr]=Grafik;Görüntüleyici;GNOME;GTK;Yayıncılık;
Keywords[zh_CN]=Graphics;Viewer;GNOME;GTK;Publishing;图形;查看;出版;
Keywords[zh_TW]=圖形;檢視器;GNOME;GTK;出版;
Keywords=Graphics;Viewer;GNOME;GTK;Publishing;
StartupNotify=true
StartupWMClass=font-viewer
NotShowIn=KDE;
