[Desktop Entry]
Type=Application
Version=1.0
Name[ar]=عارض الخطوط
Name[ca]=Visualitzador de lletres
Name[de]=Schriften-Betrachter
Name[es]=Visor tipográfico
Name[hr]=Preglednik fontova
Name[nl]=Lettertypeweergave
Name[pl]=Podgląd czcionek
Name[ru]=Программа просмотра шрифтов
Name[sv]=Teckensnittsvisare
Name[zh_CN]=字体查看器
Name[zh_TW]=字型檢視器
Name[fr]=Visionneuse de polices
Name[nb_NO]=Skriftviser
Name[pt_BR]=Visualizador de Fontes
Name[ja]=フォントビューアー
Name[ro]=Vizualizator fonturi
Name[sl]=Pregledovalnik pisav
Name[id]=Penampil Font
Name[tr]=Yazı Tipi Görüntüleyici
Name[it]=Font Viewer
Name[eo]=Tiparmontrilo
Name=Font Viewer
GenericName[ar]=عارض الخطوط
GenericName[ca]=Visualitzador de lletres
GenericName[de]=Schriften-Betrachter
GenericName[es]=Visor tipográfico
GenericName[hr]=Preglednik fontova
GenericName[nl]=Lettertypeweergave
GenericName[pl]=Podgląd czcionek
GenericName[ru]=Программа просмотра шрифтов
GenericName[sv]=Teckensnittsvisare
GenericName[zh_CN]=字体查看器
GenericName[zh_TW]=字型檢視器
GenericName[fr]=Visionneuse de polices
GenericName[nb_NO]=Skriftviser
GenericName[pt_BR]=Visualizador de Fontes
GenericName[ja]=フォントビューアー
GenericName[ro]=Vizualizator fonturi
GenericName[sl]=Pregledovalnik pisav
GenericName[id]=Penampil Font
GenericName[tr]=Yazı Tipi Görüntüleyici
GenericName[it]=Font Viewer
GenericName[eo]=Tiparmontrilo
GenericName=Font Viewer
Comment[de]=Voll funktionsfähige Anwendung zur Vorschau von Schriftdateien
Comment[es]=Completa aplicación para previsualizar archivos de tipos de letra
Comment[hr]=Program za pregled fontova s raznim funkcijama
Comment[nl]=Lettertypevoorvertoning boordevol functies
Comment[pl]=Funkcjonalna aplikacja do podglądania plików czcionek
Comment[ru]=Полнофункциональная программа просмотра шрифтов
Comment[sv]=Program för förhandsvisning av teckensnitt
Comment[zh_CN]=全功能字体文件预览应用程序
Comment[zh_TW]=功能完善的字型檔案預覽程式
Comment[fr]=Application de prévisualisation de fichiers de police entièrement fonctionnelle
Comment[pt_BR]=Programa completo de visualização de arquivos de fontes
Comment[ja]=フル機能のフォントファイルプレビューアプリケーション
Comment[ro]=Aplicație completă de previzualizare a fișierului de fonturi
Comment[sl]=Polno predstavljena aplikacija za predogled datotek pisav
Comment[tr]=Tam özellikli yazı tipi dosyası önizleme uygulaması
Comment[it]=Applicazione completa per l'anteprima del tipo di carattere
Comment[eo]=Plenfunkcia programo por antaŭrigardi tiparajn dosierojn
Comment=Full featured font file preview application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.FontViewer
DBusActivatable=true
Exec=/usr/libexec/font-manager/font-viewer %u
Terminal=false
MimeType=font/ttf;font/ttc;font/otf;application/x-font-ttf;application/x-font-otf;
Categories=Utility;GTK;GNOME;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[de]=Grafik;Betrachter;GNOME;GTK;Publizieren;
Keywords[es]=Gráficos;Visor;GNOME;GTK;Edición;
Keywords[hr]=Font;Preglednik;GNOME;GTK;Publiciranje;
Keywords[nl]=Grafisch;Weergave;GNOME;GTK;Publicatie;Beheer;Lettertype;Font;
Keywords[pl]=Grafika;Czcionki;Zarządzanie;GNOME;GTK;Publikowanie;
Keywords[ru]=Графика;Просмотр;GNOME;GTK;Издательство;
Keywords[sv]=Grafik;Visare;GNOME;GTK;Publicering;
Keywords[zh_CN]=Graphics;Viewer;GNOME;GTK;Publishing;图形;查看;出版;
Keywords[zh_TW]=圖形;檢視器;GNOME;GTK;出版;
Keywords[fr]=Graphisme; Visionneuse; GNOME; GTK; Publication;
Keywords[pt_BR]=Gráficos;Visualizador;GNOME;GTK;Publicação;
Keywords[ja]=グラフィックス;ビューア; GNOME; GTK;パブリッシング;
Keywords[ro]=Grafică; Vizualizator; GNOME; GTK; Editare;
Keywords[sl]=Grafika; Pregledovalnik; GNOME; GTK; Založništvo;
Keywords[id]=Grafik;Penampil;GNOME;GTK;Publishing;
Keywords[tr]=Grafik;Görüntüleyici;GNOME;GTK;Yayıncılık;
Keywords[it]=Graphics;Viewer;GNOME;GTK;Publishing;
Keywords[eo]=Grafiko;Montrilo;GNOME;GTK;Eldonado;Tiparo;
Keywords=Graphics;Viewer;GNOME;GTK;Publishing;
StartupNotify=true
NotShowIn=KDE;
