Source: lernstick-pspp
Section: math
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-pspp
Architecture: all
Depends: pspp
Description: Add pspp to education category
 We add pspp to the education desktop category.
