Source: lernstick-pspp
Section: math
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-pspp
Architecture: all
Depends: pspp
Description: Disable startup notification for pspp.
 We disable the startup notification for pspp because it is broken, see:
 https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=763603
