Source: lernstick-libreoffice-calc
Section: editors
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-libreoffice-calc
Architecture: all
Depends: libreoffice-calc
Description: Removes the LibreOffice Calc menu entry
 We remove the LibreOffice Calc menu entry because we already have
 the LibreOffice menu entry for the whole office suite.
