Source: lernstick-quadrapassel
Section: games
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-quadrapassel
Architecture: all
Depends: quadrapassel
Description: Hides quadrapassel when running KDE
 We hide quadrapassel when running KDE as we already have kblocks there.
