[Desktop Entry]
Type=Application
Name=Xournal
GenericName=Notetaking, sketching and journal keeping
GenericName[de]=Notizen, Skizzieren und Protokolle
Comment=Take handwritten notes
Comment[de]=Notizen, Skizzen und Protokolle
Comment[ca]=Preneu notes a mà
Comment[fr]=Prise de notes manuscrites
Exec=xournal %f
StartupNotify=true
MimeType=application/x-xoj;application/pdf;
Icon=xournal
Categories=GNOME;GTK;Office;TextEditor;
