Source: lernstick-lxtask
Section: x11
Priority: extra
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-lxtask
Architecture: all
Depends: lxtask
Description: Shows lxtask only when running LXDE
 We show lxtask only when running an LXDE session.
