[Desktop Entry]
Name=Dolphin
Name[ar]=دولفين
Name[bn]=ডলফিন
Name[bs]=Delfin
Name[fy]=Dolfyn
Name[gu]=ડોલ્ફિન
Name[hi]=डॉल्फ़िन
Name[hne]=डाल्फिन
Name[kn]=ಡಾಲ್ಫಿನ್
Name[mai]=डाल्फिन
Name[mk]=Делфин
Name[ml]=ഡോള്‍ഫിന്‍
Name[mr]=डॉल्फिन
Name[ne]=डल्फिन
Name[or]=ଡଲଫିନ
Name[pa]=ਡਾਲਫਿਨ
Name[si]=ඩොල්ෆින්
Name[sr]=Делфин
Name[sr@ijekavian]=Делфин
Name[ta]=டால்பின்
Name[te]=డాల్ఫిన్
Name[th]=ดอลฟิน
Exec=kdesudo dolphin
Icon=folder-red
Type=Application
X-DocPath=dolphin/index.html
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager with administrative rights
GenericName[de]=Dateimanager mit Administratorrechten
Terminal=false
StartupNotify=false
NotShowIn=Cinnamon;GNOME;MATE;
