[Desktop Entry]
Name=Dolphin as root
Name[de]=Dolphin als root
Exec=kdesudo dolphin
Icon=/usr/share/icons/oxygen/base/256x256/places/folder-red.png
Type=Application
X-DocPath=dolphin/index.html
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager with administrative rights
GenericName[de]=Dateimanager mit Administratorrechten
Terminal=false
StartupNotify=false
NotShowIn=X-Cinnamon;GNOME;MATE;
