[Desktop Entry]
Name=TIPP10
Comment=Touch Typing Tutor
Comment[de]=Schreibmaschinenkurs
Exec=tipp10.wrapper
Icon=com.gitlab.tipp10.tipp10
Terminal=false
Type=Application
Categories=Typewriting;
Keywords=learning;touchtyping
