Source: lernstick-kalarm
Section: kde
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 9), config-package-dev
Standards-Version: 3.7.3

Package: lernstick-kalarm
Architecture: all
Depends: kalarm
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Show kalarm only in menu if running KDE
 Only if KDE is running, we autostart kalarm and show it in the menu.
