Source: lernstick-kalarm
Section: kde
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-kalarm
Architecture: all
Depends: kalarm
Description: Show kalarm only in menu if running KDE
 Only if KDE is running, we autostart kalarm and show it in the menu.
