[Desktop Entry]
GenericName=wiRED Panda
Name=wiRED Panda
Comment=Learn about logic circuits in an easy and friendly way.
Exec=/usr/bin/wpanda %f
Icon=wpanda
Type=Application
Categories=Education;
Terminal=false
StartupNotify=false
MimeType=application/x-wpanda;
