Source: lernstick-mate-control-center
Section: x11
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-mate-control-center
Architecture: all
Depends: mate-control-center
Description: Shows mate-font-viewer only when running MATE
 We show mate-font-viewer only when running a MATE session.
