Source: live-hedgewars
Section: games
Priority: extra
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: live-hedgewars
Architecture: all
Depends: hedgewars, live-resolution
Description: Starts hedgewars with the current screen resolution
 This package enforces hedgewars to start with the current screen resolution
 instead of the configured value. This way hedgewars can easily be used on
 live systems without reconfiguration before every start.
