Source: lernstick-xournal
Section: x11
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-xournal
Architecture: all
Depends: xournal
Description: Change category and description of xournal
 We change the desktop category and the description of xournal 
