Source: lernstick-geogebra-classic
Section: education
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 9), config-package-dev
Standards-Version: 3.7.3

Package: lernstick-geogebra-classic
Architecture: all
Depends: geogebra-classic
Provides: geogebra, ${diverted-files}
Conflicts: ${diverted-files}
Description: Some bug fixes for the geogebra-classic package
 We provide "geogebra" so that geogebra-kde and geogebra-gnome can be installed
 alongside geogebra-classic. We also include better icons for the
 geogebra-classic desktop file.
