[Desktop Entry]
Version=1.0
Type=Application
Name=calibre
GenericName=E-book library management
GenericName[de]=E-Book-Bibliotheksverwaltung
Comment=E-book library management: Convert, view, share, catalogue all your e-books
Comment[de]=E-Book-Bibliotheksverwaltung
TryExec=calibre
Exec=calibre %U
Icon=calibre-gui
Categories=Office;
X-GNOME-UsesNotifications=true
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/x-mobipocket-ebook;application/x-ruby;application/vnd.ms-word.document.macroenabled.12;application/xhtml+xml;application/ereader;application/x-mobipocket-subscription;application/x-cbc;image/vnd.djvu;text/fb2+xml;application/oebps-package+xml;application/x-cbr;text/html;application/x-cbz;application/x-mobi8-ebook;text/x-markdown;application/epub+zip;text/rtf;application/x-cb7;text/plain;application/x-sony-bbeb;application/vnd.oasis.opendocument.text;application/pdf;x-scheme-handler/calibre;
