[Desktop Entry]
Version=1.0
Type=Application
Name=E-book editor
GenericName=Editor for E-books
Comment=Edit E-books in various formats
TryExec=ebook-edit
Exec=ebook-edit %f
Icon=calibre-ebook-edit
Categories=Office;
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/x-mobi8-ebook;application/xhtml+xml;application/epub+zip;text/html;
NoDisplay=true
