Source: lernstick-font-viewer
Section: graphics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-font-viewer
Architecture: all
Depends: font-viewer
Description: Hides font-viewer in KDE
 We hide font-viewer in KDE as it has its own native font viewer.
