Source: lernstick-ktorrent
Section: net
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-ktorrent
Architecture: all
Depends: ktorrent
Description: Show ktorrent only in menu if running KDE
 We show ktorrent only in the menu if KDE is running.
