Source: lernstick-rawtherapee
Section: graphics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-rawtherapee
Architecture: all
Depends: rawtherapee
Description: Add German translation of GenericName.
 We add a German translation of the GenericName so that it matches digikam and
 darktable.
