Source: lernstick-gnome-system-monitor
Section: gnome
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-gnome-system-monitor
Architecture: all
Depends: gnome-system-monitor
Description: Hide gnome-system-monitor in KDE, MATE and XFCE
 This package hides the gnome-system-monitor menu entry in KDE, MATE and XFCE.
 These desktop environments have their own system monitors.
