Source: lernstick-gnome-system-monitor
Section: gnome
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-gnome-system-monitor
Architecture: any
Depends: gnome-system-monitor
Description: Hide gnome-system-monitor in KDE
 This package hides the gnome-system-monitor in KDE.
