Source: lernstick-systemd
Section: admin
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9), config-package-dev
Standards-Version: 3.7.3

Package: lernstick-systemd
Architecture: all
Depends: awk, network-manager, ntpsec-ntpdig, systemd, systemd-timesyncd
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Fixes time synchronization for Live systems
 In the upstream Debian version time synchronization is disabled when the
 package virtualbox-guest-utils is installed.
 We change this setting so that time synchronization is only disabled when
 running inside VirtualBox.
 For now we disable systemd-timesyncd and instead run ntpdig when needed.
