[Unit]
Description=Resetting local RTC config
DefaultDependencies=no
After=dbus.service
Before=systemd-timesyncd.service

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/lernstick-rtc-init

[Install]
WantedBy=default.target
