Source: lernstick-synfigstudio
Section: graphics
Priority: extra
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-synfigstudio
Architecture: all
Depends: synfigstudio
Description: Add GenericName to desktop file.
 We add a GenericName to the desktop file.
