Source: lernstick-klavaro
Section: x11
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-klavaro
Architecture: all
Depends: klavaro
Description: Changes the menu entry of klavaro
 We move the klavaro menu entry category to "typewriting".
