Source: lernstick-libreoffice-draw
Section: editors
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-libreoffice-draw
Architecture: all
Depends: libreoffice-draw
Description: Removes the LibreOffice Draw menu entry
 We remove the LibreOffice Draw menu entry because we already have
 the LibreOffice menu entry for the whole office suite.
 We also enforce the GNOME user interface because the file dialog in the KDE
 user interface currently just sucks.
 See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=752230 for details.
