Source: lernstick-kcalc
Section: utils
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-kcalc
Architecture: all
Depends: kcalc
Description: Changes the menu entry of kcalc
 We move the menu entry of kcalc to a better place.
