[Desktop Entry]
Name[an]=Swell Foop
Name[ar]=سويل فووب
Name[ast]=Swell Foop
Name[be]=Swell Foop
Name[bg]=Еднакви
Name[bn]=সোয়েল ফুপ
Name[bs]=Lančana reakcija
Name[ca]=Atac salvatge
Name[ca@valencia]=Atac salvatge
Name[cs]=Swell Foop
Name[da]=Swell Foop
Name[de]=Swell Foop
Name[el]=Swell Foop
Name[en_CA]=Swell Foop
Name[en_GB]=Swell Foop
Name[eo]=Manda Grovo
Name[es]=Swell Foop
Name[et]=Swell Foop
Name[eu]=Swell Foop
Name[fa]=سوئل‌فوپ
Name[fi]=Swell Foop
Name[fr]=Swell Foop
Name[fur]=Swell Foop
Name[gl]=Swell Foop
Name[he]=פיצוץ בצבעים
Name[hr]=Jedan potez
Name[hu]=Swell Foop
Name[id]=Swell Foop
Name[it]=Swell Foop
Name[ja]=Swell Foop
Name[km]=Swell Foop
Name[ko]=스웰푸프
Name[lt]=Swell Foop
Name[lv]=Swell Foop
Name[mk]=Swell Foop
Name[ml]=സ്വെല്‍ ഫൂപ്പ്
Name[nb]=Swell Foop
Name[nl]=Swell Foop
Name[nn]=To fluger i ein smekk
Name[oc]=Swell Foop
Name[pa]=ਸਵਿੱਲ ਫੂਪ
Name[pl]=Swell Foop
Name[pt]=Swell Foop
Name[pt_BR]=Swell Foop
Name[ro]=Swell Foop
Name[ru]=Swell Foop
Name[sk]=Swell Foop
Name[sl]=Pravi Pavliha
Name[sr]=Ланчана реакција
Name[sr@latin]=Lančana reakcija
Name[sv]=Swell Foop
Name[ta]=ஸ்வெல் ஃபூப்
Name[te]=స్వ్ల్ ఫూప్
Name[th]=Swell Foop
Name[tr]=Swell Foop
Name[ug]=Swell Foop
Name[uk]=Той самий
Name[zh_CN]=消色块
Name[zh_HK]=Swell Foop
Name[zh_TW]=Swell Foop
Name=Swell Foop
Comment[af]=Maak die skerm skoon deur groepe van gekleurde en gevormde teëls te verwyder
Comment[an]=Escosque a pantalla eliminando grupos de fichas coloreadas y con formas
Comment[ar]=نظّف الشاشة بإزالة مجموعات القراميد الملونة والمشكّلة
Comment[ast]=Llimpiar la pantalla desaniciando grupos de colores y mosaicu de formes
Comment[be]=Ачысціце экран, выдаляючы групы каляровых квадратаў розных формаў
Comment[bg]=Изчистване на екрана чрез махане на групи от цветни плочки с характерна форма
Comment[bn]=রঙীন এবং সুন্দর আকৃতির গ্রুপ সরিয়ে পর্দা খালি করুন
Comment[bs]=Počistite ekran odstranjivanjem skupina obojenih i oblikovanih pločica
Comment[ca]=Netegeu la pantalla suprimint grups de fitxes de colors
Comment[ca@valencia]=Netegeu la pantalla suprimint grups de fitxes de colors
Comment[cs]=Vyčisti obrazovku pomocí odstraňování skupin kamenů různých barev a tvarů
Comment[da]=Ryd skærmen ved at fjerne grupper af ensfarvede og ens udformede brikker
Comment[de]=Den Bildschirm durch Entfernen von Gruppen farbiger und geformter Kacheln leeren
Comment[el]=Καθαρίστε την οθόνη απομακρύνοντας ομάδες από χρωματιστά πλακάκια
Comment[en_CA]=Clear the screen by removing groups of coloured and shaped tiles
Comment[en_GB]=Clear the screen by removing groups of coloured and shaped tiles
Comment[en@shaw]=𐑒𐑤𐑽 𐑞 𐑕𐑒𐑮𐑰𐑯 𐑚𐑲 𐑮𐑦𐑥𐑵𐑝𐑦𐑙 𐑜𐑮𐑵𐑐𐑕 𐑝 𐑒𐑳𐑤𐑼𐑛 𐑯 𐑖𐑱𐑐𐑑 𐑑𐑲𐑤𐑟
Comment[eo]=Vakigu la ekranon per forigi kolorajn kaj formatajn kahelarojn
Comment[es]=Limpie la pantalla eliminando grupos de fichas coloreadas y con formas
Comment[et]=Ekraani puhastamine värviliste pallide ja erikujuliste klotside grupeerimise teel
Comment[eu]=Garbitu pantaila koloretako eta formadun fitxak kenduta
Comment[fa]=پاک سازی صفحه با برداشتن گروه‌هایی از کاشی‌های رنگی و طرح‌دار
Comment[fi]=Tyhjennä ruutu poistamalla värillisten ja eri muotoisten laattojen ryhmiä
Comment[fr]=Vider l’écran en supprimant des groupes d’objets colorés en forme de tuiles
Comment[fur]=Nete il schermi gjavant grups di tessaris coloradis e sagomadis
Comment[gl]=Limpe a pantalla retirando grupos de bólas coloreadas e con forma de tesela 
Comment[he]=פינוי המסך על ידי הסרת קבוצות של אריחים צבעוניים ובעלי צורה
Comment[hr]=Očistite ploču uklanjanje grupa obojanih i oblikovanih pločica
Comment[hu]=Tisztítsa meg a képernyőt az egyező színű és formájú csempecsoportok eltávolításával
Comment[id]=Bersihkan layar dengan menghapus kotak berwarna dan berbentuk yang tergrup
Comment[it]=Pulisci lo schermo rimuovendo gruppi di tessere colorate e sagomate
Comment[ja]=隣接する同じ色や形のタイルをまとめて、画面から消していくゲームです
Comment[km]=សម្អាត​អេក្រង់​ដោយ​យក​ក្រុម​ក្រឡា​ក្បឿង​​ដែល​បាន​ធ្វើ​ទ្រង់ទ្រាយ និង​ដាក់​ពណ៌​ចេញ
Comment[ko]=같은 색이나 모양의 타일을 제거해 나가면서 화면을 청소합니다
Comment[lt]=Išvalykite ekraną pašalindami spalvotų ir figūrinių koklių grupes
Comment[lv]=Attīri ekrānu, aizvācot krāsainu kauliņu grupas
Comment[mk]=Исчисти го екранот преку отстранување на групи на обоени топчиња
Comment[ml]=നിറത്തോടും ആകൃതിയോടും കൂടിയ ടൈലുകളുടെ കൂട്ടം നീക്കം ചെയ്ത് സ്ക്രീന്‍ വെടിപ്പാക്കുക
Comment[nb]=Tøm skjermen ved å fjerne grupper med fargede fliser med forskjellig form
Comment[nl]=Maak het scherm leeg door groepen gekleurde en gevormde tegels te verwijderen
Comment[nn]=Tøm skjermen ved å fjerna grupper med farga og forma fliser
Comment[oc]=Voidar l'ecran en suprimissent de gropes d'objèctes colorats en forma de teulas
Comment[pa]=ਰੰਗਦਾਰ ਅਤੇ ਸੇਪ ਟਾਈਲਾਂ ਦੇ ਗਰੁੱਪ ਹਟਾ ਕੇ ਸਕਰੀਨ ਸਾਫ਼ ਕਰੋ
Comment[pl]=Czyszczenie planszy przez usuwanie grup płytek jednego koloru i kształtu
Comment[pt]=Limpe o ecrã removendo grupos de peças coloridas e de várias formas
Comment[pt_BR]=Limpe a tela removendo grupos de pedras coloridas e com formas
Comment[ro]=Curățați ecranul eliminând grupuri de bile colorate și mozaicuri cu forme
Comment[ru]=Очистите поле, удаляя группы цветных шаров
Comment[sk]=Vyčistite obrazovku odstraňovaním skupín farebných a tvarovaných polí
Comment[sl]=Počisti zaslon z odstranjevanjem skupin barvnih ploščic
Comment[sr]=Очистите екран уклањањем група обојених плочица и истог облика
Comment[sr@latin]=Očistite ekran uklanjanjem grupa obojenih pločica i istog oblika
Comment[sv]=Rensa skärmen genom att ta bort grupper av färgade och formade bollar
Comment[ta]=வண்ண மற்றும் உருவ ஓடுகளை குழுக்களாக நீக்கி திரையை காலி செய்
Comment[te]=ఆకారంలో పలకలను గ్రూపులను తొలగించడంద్వారా తెరను శుభ్రపర్చుము
Comment[th]=หยิบเบี้ยสีและรูปร่างต่างๆ เป็นกลุ่มๆ ให้หมดจากกล่อง
Comment[tr]=Renkli ve şekilli döşeme kümelerini kaldırarak ekranı temizle
Comment[ug]=رەڭلىك ياكى شەكىللىك ئۇرۇقلارنى چىقىرىۋېتىش ئارىلىق ئېكراننى تازىلاش
Comment[uk]=Очищати екран, вилучаючи групи кольорових кульок
Comment[zh_CN]=移除同样的色块以清空屏幕
Comment[zh_HK]=清除畫面上聚在一起的同樣顏色和形狀的拼圖
Comment[zh_TW]=清除畫面上聚在一起的同樣顏色和形狀的拼圖
Comment=Clear the screen by removing groups of colored and shaped tiles
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[an]=chuego;lochica;tablero;iguals;coincidents;
Keywords[be]=гульня;логіка;лагічная гульня;настольная гульня;аднолькавае;адпаведнае;
Keywords[bg]=игра;логика;логически;пъзел;еднакви;дъска;game;logic;board;same;matching;
Keywords[bs]=igra;logika;ploča;isti;poklapanje;
Keywords[ca]=joc;lògica;tauler;igual;concordant;
Keywords[ca@valencia]=joc;lògica;tauler;igual;concordant;
Keywords[cs]=hra;logická;desková;stejné;shodné;
Keywords[da]=spil;logik;bræt;samme;matching;match;
Keywords[de]=Spiel;Logik;Brettspiel;Same;gleich;
Keywords[el]=παιχνίδι;λογική;πίνακας;ίδιο;ταίριασμα;game;logic;board;same;matching;
Keywords[en_GB]=game;logic;board;same;matching;
Keywords[es]=juego;lógica;tablero;iguales;coincidentes;
Keywords[et]=mäng;loogika;lauamäng;paarid;
Keywords[eu]=jokoa;logika;taula;berdina;bat datorrena;
Keywords[fa]=game;logic;board;same;matching;بازی;منطق;تخته;مشابه;تطبیق;
Keywords[fi]=game;logic;board;same;matching;logiikka;lauta;peli;
Keywords[fr]=jeu;logique;plateau;identique;correspondance;
Keywords[fur]=zûc;zûcs;logjiche;board;taule;corispuindince;tessaris;casellis;compagn;
Keywords[gl]=xogo;lóxica;taboleiro;mesmo;coincidencia;
Keywords[he]=משחק;הגיון;היגיון;לוח;דומה;זהה;התאמה;
Keywords[hr]=igra;logika;ploča;isto;podudaranje;
Keywords[hu]=játék;logika;tábla;hasonló;egyezés;
Keywords[id]=permainan;logika;papan;sama;mencocokkan;
Keywords[it]=gioco;giochi;board;tavola;corrispondenza;tessere;caselle;
Keywords[ja]=game;logic;board;same;matching;ゲーム;論理;ロジック;ボード;さめがめ;色合わせ;puzzle;パズル;
Keywords[ko]=game;게임;logic;논리;로직;board;보드;same;matching;같은;맞추기;
Keywords[lt]=žaidimas;logika;lenta;vienodi;atitinkantys;
Keywords[lv]=spēle;loģika;galdiņš;sakrīt;atbilst;
Keywords[ml]=കളി;തത്ത്വം;പലക;ഒന്നായവ ; യോജിക്കുന്നവ;
Keywords[nb]=spill;logikk;brett;like fliser;
Keywords[nl]=game;spel;logic;logica;board;bord;same;matching;paren;
Keywords[oc]=jòc;logica;platèu;identic;correspondéncia;
Keywords[pl]=gra;gierka;logiczna;logika;planszowa;plansza;dopasowywanie;dopasuj;
Keywords[pt]=jogo;lógica;tabuleiro;same;coincidir;
Keywords[pt_BR]=game;jogo;jogos;lógica;tabuleiro;mesma;mesmo;coincidência;
Keywords[ro]=game;logic;board;same;matching;joc;logică;tablă;similar;potrivire;
Keywords[ru]=игра;логическая;настольная;совпадение;
Keywords[sk]=hra;logická;stolová;eliminácia rovnakých;eliminácia zhodných;logika;
Keywords[sl]=igra;logika;tabla;plošča;skladanje;pari;
Keywords[sr]=игра;логика;табла;исто;подударност;game;logic;board;same;matching;
Keywords[sr@latin]=igra;logika;tabla;isto;podudarnost;
Keywords[sv]=spel;logik;brädspel;samma;matchning;
Keywords[ta]=விளையாட்டு;தர்க்கம்;பலகை;அதே;பொருத்தம்;
Keywords[tr]=oyun;mantık;tahta;aynı;eşleştirme;
Keywords[ug]=game;logic;board;same;matching;ئويۇن;لوگىكىلىق;تاختا;ئوخشاش;مۇسابىقە;
Keywords[uk]=гра;логіка;дошка;той;збіг;
Keywords[zh_CN]=game;logic;board;same;matching;游戏;逻辑;棋牌;相同;匹配;消除;
Keywords[zh_HK]=game;logic;board;same;matching;遊戲;邏輯;桌面遊戲;比對;
Keywords[zh_TW]=game;logic;board;same;matching;遊戲;邏輯;桌面遊戲;比對;
Keywords=game;logic;board;same;matching;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ca]=org.gnome.SwellFoop
Icon[cs]=org.gnome.SwellFoop
Icon[de]=org.gnome.SwellFoop
Icon[el]=org.gnome.SwellFoop
Icon[eo]=org.gnome.SwellFoop
Icon[es]=org.gnome.SwellFoop
Icon[fi]=org.gnome.SwellFoop
Icon[fr]=org.gnome.SwellFoop
Icon[fur]=org.gnome.SwellFoop
Icon[gl]=org.gnome.SwellFoop
Icon[hr]=org.gnome.SwellFoop
Icon[hu]=org.gnome.SwellFoop
Icon[id]=org.gnome.SwellFoop
Icon[it]=org.gnome.SwellFoop
Icon[lt]=org.gnome.SwellFoop
Icon[lv]=org.gnome.SwellFoop
Icon[nl]=org.gnome.SwellFoop
Icon[pl]=org.gnome.SwellFoop
Icon[pt_BR]=org.gnome.SwellFoop
Icon[ro]=org.gnome.SwellFoop
Icon[sl]=org.gnome.SwellFoop
Icon[sr]=org.gnome.SwellFoop
Icon[sv]=org.gnome.SwellFoop
Icon[tr]=org.gnome.SwellFoop
Icon[zh_TW]=org.gnome.SwellFoop
Icon=org.gnome.SwellFoop
Exec=swell-foop
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
NotShowIn=KDE;
