[Desktop Entry]
Name=FSView (system)
GenericName=File System Viewer
GenericName[de]=Dateisystem-Betrachter
Comment=Displays file system usage in a nice graphical way
Comment[de]=Zeigt den belegten Platz im Filesystem grafisch an
Keywords=Filesystem,Free space,occupied space,filesystem overview
Exec=sudo /usr/bin/lernstick-fsview /run/live/persistence/
Icon=fsview
Type=Application
Categories=Utility;
