Source: lernstick-ktimetracker
Section: utils
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-ktimetracker
Architecture: all
Depends: ktimetracker
Description: Changes the menu entry of ktimetracker
 We remove ktimetracker from the utility desktop category. It is already in
 the office category and this is enough.
