[Desktop Entry]
Name=Filius
Name[de]=Filius
Comment=Learn how Computer Networks are built
Comment[de]=Lernsoftware zu Rechnernetzen
Exec=auto-gdk-scale /usr/bin/filius %f
Icon=filius32
Terminal=false
Type=Application
Categories=Education
StartupNotify=false
MimeType=application/filius-project
Keywords=network;simulation;internet;school
Keywords[de]=Netzwerk;Simulation;Internet;Schule
