Source: lernstick-libreoffice-impress
Section: editors
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-libreoffice-impress
Architecture: all
Depends: lernstick-libreoffice, libreoffice-impress
Description: Removes the LibreOffice Impress menu entry
 We remove the LibreOffice Impress menu entry because we already have
 the LibreOffice menu entry for the whole office suite.
 We use a wrapper script to prevent timeouts with LanguageTool server.
