Source: lernstick-gimp
Section: graphics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-gimp
Architecture: all
Depends: gimp
Description: Adds a workaround to enable screenshots when using KDE
 We add a workaround the following bug:
 https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=915110
 The idea was taken from here:
 https://www.linuxquestions.org/questions/slackware-14/gimp-file-screenshot-4175668453/
