Source: lernstick-aisleriot
Section: games
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-aisleriot
Architecture: all
Depends: aisleriot
Description: Hides aisleriot when running KDE
 We hide aisleriot when running KDE as we already have kpat there.
