Source: lernstick-texlive-base
Section: x11
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-texlive-base
Architecture: all
Depends: texlive-base
Description: Hide the menu entry of texdoctk
 We hide the texdoctk menu entry. It seems useless and broken.
