Source: lernstick-qxw
Section: games
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-qxw
Architecture: all
Depends: qxw
Description: Add a German translation of the GenericName
 We add a German translation of the GenericName in the desktop file.
