[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=FooBillard++
GenericName=Billiard
Categories=Game;Simulation;ArcadeGame;
Keywords=billiard;opengl;game;3D;
Exec=live_foobillardplus
Icon=foobillardplus
Comment=3D OpenGL Billiard Game
Comment[de]=3D-OpenGL-Billard-Spiel
