Source: lernstick-arduino
Section: electronics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-arduino
Architecture: all
Depends: arduino
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Changes the arduino destkop file.
 We add a German translation of the generic name. We also remove the category
 "Electronics" because the KDE start menu is too short for another category and
 unfortunately its size is hardcoded.
