Source: lernstick-bluedevil
Section: net
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-bluedevil
Architecture: all
Depends: bluedevil
Description: Changes the menu entry of bluedevil
 We show bluedevil only in KDE.
