Source: dlcopy-autoupgrade
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: dlcopy-autoupgrade
Architecture: all
Depends: dlcopy-common
Description: Desktop integration of the DebianLiveCopy autoupgrade feature
 A desktop file and autostart entry for the DebianLiveCopy autoupgrade feature
