[Desktop Entry]
Name=Zenmap
GenericName=Port Scanner
GenericName[de]=Portscanner
TryExec=zenmap
Exec=sudo zenmap %F
Terminal=false
Icon=/usr/share/zenmap/pixmaps/zenmap.png
Type=Application
Categories=Application;Network;Security;
Comment=A cross-platform GUI for the Nmap Security Scanner.
Keywords=network;scan;scanner;IP;security;
