Source: lernstick-lxterminal
Section: x11
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-lxterminal
Architecture: all
Depends: lxterminal
Description: Shows lxterminal only when running LXDE
 We show lxterminal only when running an LXDE session.
