Source: lernstick-hugin
Section: graphics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-hugin
Architecture: all
Depends: hugin
Description: Changes the menu entries of Hugin
 We hide the batch tool and fix the translation of the lens calibration tool.
