Source: lernstick-ristretto
Section: x11
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-ristretto
Architecture: all
Depends: ristretto
Description: Shows ristretto only when running XFCE
 We show ristretto only when running an XFCE session.
