Source: lernstick-freemind
Section: text
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-freemind
Architecture: all
Depends: freemind
Description: Enforce the usage of antialiased fonts in Freemind
 We enforce the usage of antialiased fonts in Freemind and fix the GenericName
 in the desktop file.
