[Desktop Entry]
Type=Application
Name=Armagetron Advanced
Exec=live_armagetronad %f
Comment=3d light cycle game
Comment[de]=dreidimensionales Lichtradspiel
Icon=armagetronad
Terminal=false
Categories=Game;ArcadeGame;
StartupNotify=false
MimeType=application/x-armagetronad;
Keywords=tron-like;light;cycle;3D;multiplayer;networked;server;
