[Desktop Entry]
Name=Software & Updates
GenericName=Software & Updates
Comment=Configure the sources for installable software and updates
Comment[cs]=Konfigurovat zdroje pro instalovatelný software a aktualizace
Comment[da]=Konfigurér kilderne for installérbar software og opdateringer
Comment[de]=Quellen zum Installieren von Software und Aktualisierungen einrichten
Comment[el]=Ρύθμιση των πηγών για λογισμικό και ενημερώσεις
Comment[en_AU]=Configure the sources for installable software and updates
Comment[en_GB]=Configure the sources for installable software and updates
Comment[es]=Configura los orígenes para el software instalable y las actualizaciones
Comment[fi]=Muokkaa asennettavien ohjelmien ja päivitysten lähteitä
Comment[fr]=Configurer les canaux logiciels (sources de mise à jour) et les mises à jour via Internet
Comment[gl]=Configurar as fontes para programas e actualizacións instalables
Comment[he]=הגדרת מקורות התוכנות להתקנה והעדכונים
Comment[hr]=Podesi repozitorije i nadogradnje
Comment[hu]=Telepíthető szoftverek és frissítések forrásának beállítása
Comment[it]=Configura le sorgenti per gli aggiornamenti e per il software installabile
Comment[ka]=პროგრამების დაყენებისა და განახლების წყაროების კონფიგურირება
Comment[ko]=설치할 수 있는 소프트웨어와 업데이트를 위한 소스를 설정
Comment[ku]=Ji bo nivîsbarî û rojanekirinên têne sazkirin çavkaniyan veava bike
Comment[nl]=Softwarekanalen en internet-updates configureren
Comment[pl]=Konfiguruj źródła pakietów oprogramowania i aktualizacji
Comment[pt]=Configurar os repositórios de software e actualizações instaláveis
Comment[pt_BR]=Configurar as fontes de aplicativos e atualizações
Comment[ro]=Configurează sursele pentru software instalabil şi actualizări
Comment[ru]=Настроить источники установки программ и обновлений
Comment[sv]=Konfigurera källorna för installerbara programvaror och uppdateringar
Comment[th]=ปรับแต่งแหล่งสำหรับซอฟต์แวร์และปรับปรุงที่ติดตั้งได้
Comment[tr]=Kurulabilir yazılım ve güncellemeler için kaynakları yapılandır
Comment[zh_CN]=设定可安装和升级的源
Comment[zh_TW]=設置可安裝的軟體及更新部份之來源。
Keywords=Drivers;Repositories;Repository;PPA;
Exec=software-properties-gtk
Icon=software-properties
Terminal=false
X-MultipleArgs=false
Type=Application
NoDisplay=true
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;
MimeType=text/x-apt-sources-list;
X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=software-properties
