Source: lernstick-gnome-software
Section: gnome
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: lernstick-gnome-software
Architecture: all
Depends: gnome-software, lernstick-package-management-wrapper
Description: Changes the category of gnome-software
 We remove gnome-software from the system category, it is already in the
 packagemanager category and this should be sufficient. We also use our package
 management wrapper to start gnome-software in a more user friendly way.
