Source: lernstick-imagemagick
Section: graphics
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-imagemagick
Architecture: all
Depends: imagemagick-7.q16
Description: Changes the menu entry of imagemagick
 We hide the display-im6.q16.desktop file.
