Source: lernstick-evince
Section: gnome
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-evince
Architecture: all
Depends: evince
Description: Hides evince in KDE and MATE
 We hide the desktop entry of evince in KDE and MATE. Both desktop environments
 have their own native document viewers (okular and atril).
