[Desktop Entry]
Name=Frozen-Bubble
Comment=Pop out the bubbles!
Exec=live_frozen-bubble
Icon=frozen-bubble
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Game;ArcadeGame;
Keywords=game;bubbles;pop;
