Source: lernstick-vmpk
Section: sound
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-vmpk
Architecture: all
Depends: vmpk
Description: Changes the menu entry of vmpk
 We remove vmpk from the "Education" and "Music" category. It is already in
 the "Audio" category and this should be sufficient.
